article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,hr,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}

body,
button,
html,
input,
select,
textarea {
    font-family: 'Microsoft Yahei',
    '\5FAE\8F6F\96C5\9ED1',
    'Hiragino Sans GB',
    '\5B8B\4F53',
    Arial;
    color: #46525e}
.g-ctn{display:block}
a{
    color:#000;
    text-decoration: none;
    outline: 0;
    -webkit-transition: background 0.3s,
    color 0.3s,
    opacity 0.3s;
    transition: background 0.3s,
    color 0.3s,
    opacity 0.3s;
    display: inline-block;
}
a:active,
a:focus,
a:link,
a:visited {
    text-decoration: none;
    outline: 0
}
a:hover {
    /*color: #c00;*/
    text-decoration: none;
    outline: 0
}
input,
select,
textarea {
    border: none;
}
html{
    /* font-size: 62.5%; */
    width: 100%;
    height: 100%;
}
body{
    position: relative;
    width: 100%;
    overflow: auto;
    height: 100%;
    color: #000;
    font-family: 'Microsoft YaHei', 'Heiti SC', simhei, 'Lucida Sans Unicode', 'Myriad Pro', 'Hiragino Sans GB', Verdana;
    background: #f3f3f3;
    -webkit-tap-highlight-color:rgba(0,0,0,0);
    margin: 0;
}
li{
    list-style-type: none;
}
.f-fl{
    float: left;
}
.f-fr{
    float: right;
}
.f-cb, .clearfix {
  *zoom: 1;
}

.f-cb:before, .clearfix:before,
.f-cb:after, .clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.f-cb:after, .clearfix:after {
  clear: both;
}
.del-mgr{
    margin-right: 0 !important;
}
.mid-Container{
    width: 1000px;
    position: relative;
    margin: 0 auto;
}
.f-cb:after{
    content: '';
    font-size: 0;
    height: 0;
    clear: both;
    display: block;
    visibility: hidden;
}
.clearfix{overflow:auto;_height:1%}
input{
    outline: none;
}
button{
    border: none;
    outline: 0;
}
/* .errorMsg{
    color: #af5c46;
    height: 12px;
    line-height: 12px;
    padding-top: 6px;
    padding-bottom: 6px;
    font-size: 12px;
    visibility: hidden;
    text-align: left!important;;
}

header .returnArrow{
    width: 17px;
    height: 17px;
    display: inline-block;
}
header{
    height: 1.8rem;
    line-height: 1.8rem;
    padding: 1.3rem 1.8rem;
    border-bottom: solid 1px #d8d8d8;
    text-align: center;
    background: #fff!important;
}
header span{
    font-size:1.8rem;
    color:#4a4a4a;
}
header .rtLink{
    font-size:15px;
    color:#4a4a4a;
} */
[v-cloak] {
    display: none !important;
}
.full-img {
  display: block;
  width: 100%;
}
.flex-wrap {
    display: flex;
}
.flex-grow1 {
    flex-grow: 1;
    align-items: center;
}
.arrow-right {
    border: solid #bababa;
    border-width: 0 4px 4px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}
.page-container {
    background-color: #fff;
    min-height: 100vh;
}
.line-clamp {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}
.line-clamp2 {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}
.btn-submit {
    width: 73%;
    height: 86px;
    line-height: 86px;
    text-align: center;
    margin: 72px auto;
    color: #fff;
    background-color: #00bc71;
    font-size: 33px;
}