body{
	background: #eaeef0;
}
img{
	width: 100%;
}
input::-webkit-input-placeholder { 
    color: #b3b7b9 !important;
} 

input,button,textarea { 
    -webkit-appearance: none; 
    border: none;
}
.public_Header{
	height: 43px;
	line-height: 43px;
    width: 100%;
    text-align: center;
    font-size: 16px;
    color: #ffffff;
    background: #212629;
    position: fixed;
    z-index: 999;
    top: 0;
}
a.backLink{
    display: block;
    position: absolute;
    width: 17px;
    height: 17px;
    margin: auto;
    left: 16px;
    top: 0;
    bottom: 0;
    z-index: 1000;
}
.public_BackArrow{
	position: absolute;
	top: 0;
    left: 0;
}
.addBank{
	width: 100%;
	height: 64px;
	line-height: 64px;
	text-align: center;
	font-size:15px;
	color:#bc7d53;
}
.addBank span{
	display: inline-block;
	width: 27px;
	height: 27px;
	margin-right: 10px;
	position: relative;
	top: 7px;
	background: url(../../images/add.png) no-repeat;
	background-size: 100%;
}
.form-box-bankInfo {
	position: relative;
	width: 100%;
    height: 70px;
    background: #FFF;
    padding-top: 43px;
    border-bottom: 1px solid #e1e5e8;
}
.bankInfoChange{
    background: url(../../images/arrows_right.png) 98% center no-repeat;
    background-size: 3%;
}
.bankInfo {
    text-indent: 9.5rem;
    padding-top: 12px;
}
.p-bankInfo {
    font-size: 15px;
    color: #bc7d53;
}
.p-astrict {
    font-size: 10px;
    color: #777b7d;
    padding-top: 2px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.form-box-money{
	background: #fff;
	margin-top: 10px;
}
.form-item{
	width: 100%;
    position: relative;
}
.form-item:last-child{
	border: none;
}
.form-box-label{
	padding: 1rem 0;
	position: absolute;
    left: 15px;
    font-size: 15px;
    color: #212629;
}
.form-box-input{
	font-size: 15px;
    padding: 1rem 0;
    border: none;
    width: 100%;
    border-bottom: 1px solid #e1e5e8;
    text-indent: 8.5rem;
    color: #212629;
}
.input-moreIndent{
    text-indent: 9.5rem;
}
.error_message{
	font-size:13px;
	color:#bc7d53;
	height: 20px;
	margin: 15px;
}
.contract-read{
	position: fixed;
	bottom: 60px;
	left: 15px;
}
[id^="checkbox-1-"] + label {
    background: url("../../images/selectBox_unselected.png") no-repeat;
    background-size: 100% 100%;
}
[id^="checkbox-1-"]:checked + label:after {
	width: 1.3rem;
    height: 1.1rem;
	background: url("../../images/selectBox.png") no-repeat;
    background-size: 100% 100%;
}
.contract-read span {
    line-height: 1.2rem;
    font-size: 1.2rem;
    color: #717071;
    line-height: 2rem;
    margin-left: 4px;
    margin-top: -2px;
}
.contract-read span a {
    color: #bc7d53;
}
.form-box-btn{
	width: 100%;
	height: 45px;
	line-height: 45px;
	font-size:15px;
	color:#ffffff;
	background: #b3b7b9;
	position: fixed;
	left: 0;
	bottom: 0;
}
.clickableBtn{
	background: #bc7d53;
}
/*------------------------------------------- bindCard.html -------------------------------------------*/
.moreIndent{
    text-indent: 10.5rem;
}
.cardInfo-container {
    position: relative;
    top: 43px;
    overflow: hidden;
}

.cardInfo-container .form-box-label{
	color: #4a4a4a;
}

.cardInfo-container .form-input-box{
	margin-bottom: 10px;
	background: #fff;
	position: relative;
}

.cardInfo-container .openBank {
    font-size: 16px;
    padding: 1rem 0;
    text-indent: 10.5rem;
    color: #212629;
    letter-spacing: 1px;
    border: none;
    width: 100%;
}

.cardInfo-container .arrowsRight {
    width: 10px;
    height: 14px;
    position: absolute;
    top: 16px;
    right: 15px;
}

.cardInfo-container .bindCard {
    width: 92%;
    height: 45px;
    line-height: 45px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    margin: 16px 4% 15px 4%;
    background: #b3b7b9;
}

.hint-msg {
    padding: 0 16px;
	font-size:11px;
	color:#979b9e;
}

.errorMessage {
    padding: 0 1.2rem;
    margin-top: 30px;
    height: 1.2rem;
    line-height: 1.2rem;
    font-size: 13px;
    color: #bc7d53;
    letter-spacing: 0.4px;
}

/*------------------------------------------- choseBank.html -------------------------------------------*/
.bank-list-container {
    position: relative;
    overflow: hidden;
}

.bank-list-container header {
    height: 17px;
    padding: 14px 16px;
    border-bottom: solid 1px grey;
    text-align: center;
    background: #FFF;
}

.bank-list-container .warn {
    background: #f3efe7;
    height: 58px;
}

.bank-list-container .warnIcon {
    width: 5.3%;
    margin: 0px 0px 25px 15px;
}

.bank-list-container .warnDesc {
    display: inline-block;
    width: 82.4%;
    font-size: 12px;
    color: #9b9b9b;
    line-height: 18px;
    margin: 12px 0px 0px 15px;
}

.bank-list-container .f-cb {
    padding: 10px 15px 0px 15px;
    background: #FFF;
}

.bank-list-container .bankIcon {
    width: 32px;
    height: 32px;
    margin-top: 7px;
}

.bank-list-container .d-text {
    float: right;
    margin-left: 15px;
}

.bank-list-container .p-divide {
    width: 100%;
    height: 1px;
    margin-top: 55px;
    background-color: #e6e6e6;
}

.bank-list-container .bankName {
    font-size: 16px;
    color: #3e3a39;
}

.bank-list-container .desc {
    font-size: 13px;
    color: #9b9b9b;
}
.form-box-wrap{
	padding-top: 43px;
}
.recharge-bankInfo{
	width: 100%;
    height: 70px;
    background: #FFF;
    margin-top: 10px;
}
.notice{
	padding-left: 40px;
	height: 30px;
	line-height: 30px;
	font-size:11px;
	color:#ffffff;
	background: #2c7c8d url(../../images/notice.png) 15px center no-repeat;
	background-size: 4%;
}
.accountMoney{
	height: 16px;
	line-height: 16px;
	padding: 0 15px;
	margin-top: 10px;
	font-size:13px;
	color:#212629;
}
.accountMoney span{
	color: #bc7d53;
}
.resultWrap{
	padding-top: 43px;
	text-align: center;
	color:#979b9e;
}
.stateImg{
	width: 15%;
	margin: 30px auto;
}
.rusultTitle{
	font-size:18px;
	margin-bottom: 11px;
}
.succTitle{
	color:#212629;
}
.resultHint{
	font-size:13px;	
}
.successtWrap{
	padding: 43px 0 36px 48px;
	background: #fff;
	color: #979b9e;
	font-size: 15px;
    position: relative;
}
.investSuccessImg{
    width: 15.8px;
    position: absolute;
    top: 76px;
    left: 20px;
}
.investSuccessItem{
	margin-top: 30px;
}
.itemStatus{
	color: #bc7d53;
}
.investSuccessHint{
	font-size: 13px;
}
.bankBox{
    position: relative;
}
.selectGou{
    width: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
    display: none;
}
.gouIsShow{
    display: block;
}
.wholeMask{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.checkBox{
    width: 80%;
    height: 165px;
    margin-left: 10%;
    margin-top: 60%;
    background: #fff;
    text-align: center;
}
.checkTitle{
    font-size:18px;
    color:#bc7d53;
    letter-spacing:0.3px;
    padding-top: 20px;
}
.checkHint{
    font-size:13px;
    color:#979b9e;
    letter-spacing:0.21px;
    margin: 10px auto 30px;
}
.cancleBtn, .checkBtn{
    width: 43%;
    margin-left: 5%;
    color: #fff;
    font-size: 15px;
    letter-spacing: 0.25px;
    height: 45px;
    line-height: 45px;
}
.cancleBtn{
    background: #b3b7b9;
}
.checkBtn{
    background: #bc7d53;
}
.resultContent{
    padding-top: 43px;
    text-align: center;
    background: #fff;
}
.rechStateImg{
    width: 15%;
    margin: 30px auto 15px;
}
.recgSuccTitle{
    color: #bc7d53;
}
.rechDetail{
    padding: 0 4%;
    margin-top: 20px;
    font-size:15px;
    color:#777b7d;
    text-align: left;
}
.rechDetail p{
    padding: 15px 0;
    border-bottom: 1px solid #e1e5e8;
}
.rechDetail p:last-child{
    border: none;
}
.rechDetail span{
    color:#212629;
    margin-left: 20px;
}
.rechDetail span.itemStatus {
    color: #bc7d53;
}
.btn-wrap{
    width: 92%;
    margin-left:4%;
    margin-top: 90px;
}
.continue-btn{
     width: 100%;
     height: 43px;
     line-height: 43px;
     text-align: center;
     background: #bc7d53;
     color: #fff;
     font-size: 15px;
     margin-bottom: 10px;
     border: 1px solid #bc7d53;
}
.toInvest{
    background: #fff;
    color: #bc7d53;
}
.loadingMask{
    width: 100%;
    height: 100%;
    background: rgba(255,255,255,0.5);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
.loadingDialog{
    background:#212629;
    width:173px;
    height:38px;
    line-height: 38px;
    color: #fff;
    font-size: 15px;
    line-height: 38px;
    position: absolute;
    top: 50%;
    margin-top: -19px;
    left: 50%;
    margin-left: -86.5px;
}
.loadingDialog p{
    text-indent: 30px;
}
.closeLoading{
    width: 38px;
    height: 38px;
    line-height: 32px;
    background: #2c7c8d;
    position: absolute;
    top: 0;
    right: 0;
    text-align: center;
    font-size: 30px;
}
.secondCount{
    margin-left: 8px;
}
.payCheck-section{
    padding-top: 33px;
}
.txtCheck-content{
    background-color:#FFF;
    margin-top: 10px;
    padding-bottom: 20px;
}
.rechargeCheck-msg{
    padding: 12px 4%;
    font-size:13px;
    color:#777b7d;
    line-height:19px;
}
input.smsText{
    width:80%;
    padding:10px 0;
    font-size: 15px;
    border: 1px solid #bc7d53;
    border-right: none;
    text-indent: 8px;
}
input.sendSms{
    width: 20%;
    height: 44px;
    line-height: 10px;
    color: #fff;
    font-size: 15px;
    position: absolute;
    text-indent: 0;
    text-align: center;
    border: 1px solid #bc7d53;
    background: #bc7d53;
}

input.sendBtn-default-Bg{
    background: #bc7d53;
}

input.sendBtn-disabled-Bg {
    background: #b3b7b9;
    border: 1px solid #b3b7b9;
}
.rechargeFailTitle{
    color:#979b9e;
}
.rechargeFailtHint{
    font-size:13px;
    color:#979b9e;
    padding-bottom: 20px;
}
.unEditText{
    color:#767a7c;
}
.lockState{
    width: 10px;
    height: 13px;
    background: url(../../img/lock.png) no-repeat;
    background-size: 100%;
    margin-left: 6px;
    position: relative;
    top: -1px;
}