<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>新增地址</title>
    <link rel="stylesheet" href="https://res.wx.qq.com/open/libs/weui/2.0.1/weui.min.css">
    <link rel="stylesheet" href="../../css/base.css">
    <link rel="stylesheet" href="../../css/pages/add-address.css">
</head>

<body>
    <article class="add-address-container page-container" id="add-address-container" v-cloak>
        <section class="content">
                <div class="form-input-box">
                    <label class="form-label">姓名</label>
                    <input class="input" type="text" placeholder="输入姓名" >
                </div>
                <div class="form-input-box">
                    <label class="form-label">手机号码</label>
                    <input class="input" type="tel" placeholder="输入手机号码" maxlength="11" >
                </div>
                <div class="form-input-box">
                    <label class="form-label">地区</label>
                    <div class="flex-wrap">
                        <input class="input" type="text" readonly v-model="province" placeholder="请选择省" id="province" @click="selectProvince">
                        <input class="input" type="text" readonly v-model="city" placeholder="请选择市" @click="selectCity">
                        <input class="input" type="text" readonly v-model="area" placeholder="请选择区" @click="selectArea">
                    </div>
                </div>
               
                <div class="form-input-box">
                    <label class="form-label">详细地址</label>
                    <input class="input" type="text" placeholder="请输入详细地址，楼栋、门牌号等" >
                </div>
            <div class="btn-submit">保存</div>
        </section>
    </article>
    
    <script src="../../js/pages/add-address.js"></script>
</body>

</html>
