<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>咨询赵某某医生</title>
  <link rel="stylesheet" href="../../css/base.css">
  <link rel="stylesheet" href="../../css/pages/dialogue.css">
</head>

<body>
  <section class="dialogue-container" id="dialogue-container" v-cloak>
      <div class="page-top">当前咨询患者：<span>王某某</span></div>
      <div class="dialogue-wrapper" > 
        <div class="tip">您已成功购买医生的咨询服务，当前咨询结束时间为</div>
        <div class="tip-time">2019-6-25  10:46:34</div>
        <div class="dialogues" v-for="(dialogue,index) in dialogueList">
          <template v-if="dialogue.isMine">
            <div class="dialogue-content tr">
                <div class="dialog" v-if="dialogue.type === 'text'">
                  {{dialogue.content}}
                </div>
                <div class="dialog" v-if="dialogue.type === 'img'">
                    <img class="sendimg" :src="dialogue.content"/>
                </div>
                <div class="dialog flex-wrap" v-if="dialogue.type === 'link'">
                    <img class="full-img" :src="dialogue.content.linkImg"/>
                    <div class="dialog-right">
                      <div class="dialog-title">{{dialogue.content.linkTitle}}</div>
                      <div class="dialog-desc">{{dialogue.content.linkDesc}}</div>
                    </div>
                </div>
              <img class="avatar" :src="userAvatar"/>
            </div>
          </template>
          <template v-else>
            <div class="dialogue-content tl">
              <img class="avatar" :src="doctorAvatar"/>
              <div class="dialog" v-if="dialogue.type === 'text'">
                {{dialogue.content}}
              </div>
              <div class="dialog" v-if="dialogue.type === 'img'">
                  <img class="sendimg" :src="dialogue.content"/>
              </div>
              <div class="dialog flex-wrap" v-if="dialogue.type === 'link'">
                  <img class="full-img" :src="dialogue.content.linkImg"/>
                  <div class="dialog-right">
                    <div class="dialog-title">{{dialogue.content.linkTitle}}</div>
                    <div class="dialog-desc">{{dialogue.content.linkDesc}}</div>
                  </div>
              </div>
            </div>  
          </template>
        </div>
      </div>
      <div class="btn-add">添加</div>
  </section>
  <script src="../../js/pages/dialogue.js"></script>
</body>

</html>
