<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>填写问诊单</title>
  <link rel="stylesheet" href="../../css/base.css">
  <link rel="stylesheet" href="../../css/pages/inquiry.css">
</head>

<body>
  <section class="inquiry-container" id="inquiry-container" v-cloak>
    <div class="page-tips">请根据你最近的身体感受填写以下问题。<br/> 所有问题均为多选。</div>
    <div class="question-wrapper" v-for="(question, index) in questions">
      <div class="question">{{index+ 1 + question.title}}</div>
      <div class="option-wrapper">
        <div class="option" v-for="(option, num) in question.options">
          <i :class="{seleted: question.seleted[num]==1}" @click="check(index,num)"></i>{{option}}
        </div>
      </div>
    </div>
    
  </section>
  <script src="../../js/pages/inquiry.js"></script>
</body>

</html>
