<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta name="format-detection" content="telephone=no">
	    <title>信息披露</title>
			<link rel="stylesheet" href="../../../css/base-2d86f7d6c5.css">
			<link rel="stylesheet" href="../../../css/product/borrower-28c108d8a4.css">
	</head>
	<body>
		<article class="borrower-container" id="borrower-container" v-cloak>
			<header class="f-cb">
	      <a :href="'fixed_product_details.html?productId=' + productId" class="f-fl">
            <img src="../../../img/back.png" alt="" class="returnArrow">
	        </a>
	      <span class="title">借款人信息</span>
	    </header>
			<section>
				<h2><span></span>借款人信息</h2>
				<div class="borrower-info">
					<div class="half-line">姓名：{{detail.name}}</div>
					<div class="half-line">性别：{{detail.gender == 1 ? '男' : '女'}}</div>
					<div>
						<div class="half-line" style="width: 100%;">证件号：{{detail.idNo}}</div>
					</div>
					<div class="half-line">年龄：{{detail.age}}</div>
					<div class="half-line">婚姻情况：{{detail.maritalStatus == 1 ? '已婚' : '未婚'}}</div>
					<div class="half-line">学历：{{detail.education}}</div>
					<div class="half-line">信用等级：{{detail.creditRating}}</div>
					<div class="half-line">月收入：{{detail.monthlyIncome}}</div>
					<div class="half-line">在平台逾期次数：{{detail.overdueCount}}</div>
					<div class="half-line">住房条件：{{detail.purchasedEstate == 1 ? '有' : '无'}}</div>
					<div class="half-line">是否购车：{{detail.purchasedCar == 1 ? '是' : '否'}}</div>
				</div>
			</section>
			<section>
				<h2><span></span>资料审核信息</h2>
				<div class="examine-info">
					<div class="title f-cb">
						<span class="f-fl">项目审核</span>
						<span class="f-fr">审核结果</span>
					</div>
					<div class="examine f-cb">
						<span class="f-fl">手持身份证照片</span>
						<img src="../../../img/ginkgo/success.png" class="pass f-fr" v-if="detail.idCardCheck == 1">
						<img src="../../../img/ginkgo/fail.png" class="notpass f-fr" v-else>
					</div>
					<div class="examine f-cb">
						<span class="f-fl">个人征信报告</span>
						<img src="../../../img/ginkgo/success.png" class="pass f-fr" v-if="detail.creditReportCheck  == 1">
						<img src="../../../img/ginkgo/fail.png" class="notpass f-fr" v-else>
					</div>
					<div class="examine f-cb">
						<span class="f-fl">手机认证</span>
						<img src="../../../img/ginkgo/success.png" class="pass f-fr" v-if="detail.phoneCheck == 1">
						<img src="../../../img/ginkgo/fail.png" class="notpass f-fr" v-else>
					</div>
					<div class="examine f-cb">
						<span class="f-fl">紧急联系人</span>
						<img src="../../../img/ginkgo/success.png" class="pass f-fr" v-if="detail.emergencyContactCheck == 1">
						<img src="../../../img/ginkgo/fail.png" class="notpass f-fr" v-else>
					</div>
					<div class="examine f-cb">
						<span class="f-fl">平台复审</span>
						<img src="../../../img/ginkgo/success.png" class="pass f-fr" v-if="detail.dataReview == 1">
						<img src="../../../img/ginkgo/fail.png" class="notpass f-fr" v-else>
					</div>
				</div>
			</section>
			<section>
				<h2><span></span>借款描述</h2>
				<div class="borrower-desc" v-html="desc">
				</div>
			</section>
		</article>
		<script src="../../../js/product/fixed_product/borrower_info-3db1d754a1.js"></script>
	</body>
</html>
