<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>源码汇</title>
  <link rel="stylesheet" href="../../../css/base-56c273db45.css">
  <link rel="stylesheet" href="../../../css/product/product-8eca9c89b0.module-shi.css">
</head>

<body>
  <article class="buy-fixedPro-container " id="buy-fixedPro-container" v-cloak>
    <header class="f-cb">
      <a href="#" @click="goBack" class="f-fl">
            <img src="../../../img/back.png" alt="" class="returnArrow">
        </a>
      <span>确认投资</span>
    </header>
    <div class="productName">
      {{ productInfo.targetName }}
    </div>
    <div class="headerSection">
      <div class="line1">
        <div class="emptyDiv"></div>
        <div class="yearRate">{{ productInfo.yearRate }}</div>
        <div class="percent">%</div>
        <div class="percent" v-if="productInfo.activityRate">+{{ productInfo.activityRate }}%</div>
        <div class="investDays">
          {{ productInfo.investDays }}天
        </div>
      </div>
      <div class="line2">
        <div class="title">
          预期年化收益率
        </div>
        <div class="title" style="left: 55%;position: absolute;">期限</div>
      </div>
    </div>

    <div class="f-cb" style="display: none;">
      <p class="avail-amount-block f-fl">
        可用余额： <span class="avail_amount">{{ productInfo.userBalance }}</span>元
      </p>
      <p class="avail-amount-block f-fr">
        剩余可投： <span class="avail_amount">{{ productInfo.remainAmount }}</span>元
      </p>
    </div>
    <section>
      <div class="whiteBg">
        <div class="form-group" style="padding-bottom: 0;padding: 13px 4%;">
          <img id="invest-money-icon" src="../../../img/new/img_money_show.png" />
          <input id="invest-money" :class="{error: errorMsg.length > 0}" type="number" :placeholder="productInfo.minAmount+'元起投,且是'+productInfo.unitAmount+'的整数倍'" v-model="investMoney">
        </div>
        <div class="errorMsgWrap" v-if="errorMsg">
          <div class="inputErrorMsg">{{ errorMsg }}</div>
        </div>
        <div class="form-group" v-else style="padding: 5px 4%;">
          <label class="form-text" style="font-size: 13px;color: #686C73;">预期收益<span style="padding-left: 8px;font-size: 13px;color: #F66B12;">{{ earnNum }}元</span></label>
        </div>
      </div>
      <div class="f-cb"></div>
      <ul class="addratelist-wrapper whiteBg f-cb" v-if="joinActType != 0">
        <li v-show="joinActType == -1 || joinActType == 2 || joinActType == 3">
          <!-- <div class="horLine" style="height: 1px;"></div> -->
          <a :href="'fixed_tyj_ticket.html?productId=' + productId +'&investMoney=' + investMoney" class="form-group f-cb">
              <span class="addratelist-name">体验金</span>
              <div class="addratelist-right">
                <span class="ratelist-num" v-if="principalCouponval">+{{principalCouponval}}</span>
                <span class="ratelist-num" v-else>
                  <i style="color: #9b9b9b;font-style: normal;" v-if="canUsePrincipalCount ==0">{{canUsePrincipalCount}}张可用</i>
                  <i v-else style="font-style: normal;">{{canUsePrincipalCount}}张可用</i>
                </span>
                <img src="../../../img/arrows_right.png" >
              </div>
            </a>
        </li>
        <li v-show="joinActType == -1 || joinActType == 1 || joinActType == 3">
          <a :href="'fixed_rate_coupon.html?productId=' + productId +'&investMoney=' + investMoney" class="form-group f-cb">
              <span class="addratelist-name">加息券</span>
              <div class="addratelist-right">
                <span class="ratelist-num" v-if="rateCouponVal > 0">+{{ formatFloat(rateCouponVal)}}%</span>
                <span class="ratelist-num" v-else>
                  <i style="color: #9b9b9b;font-style: normal;" v-if="canUseRateCount ==0">{{canUseRateCount}}张可用</i>
                  <i v-else style="font-style: normal;">{{canUseRateCount}}张可用</i>
                </span>
                <img src="../../../img/arrows_right.png" >
              </div>
            </a>
          <!-- <div class="horLine" style="height: 1px;"></div> -->
        </li>
        <li style="height: 1px;" class="f-cb"></li>
      </ul>
      <div style="font-size: 12px;color: #989BA2;padding: 8px 4%" v-if="productInfo.joinActTypePrompt">{{ productInfo.joinActTypePrompt }}</div>
      <div class="contract-read">

        <input type="checkbox" id="checkbox-1-1" v-on:click="agreeFlag = !agreeFlag" checked="checked" /><label for="checkbox-1-1"></label>
        <span>我已阅读并同意<a :href="'../../../html/contract/pdt_contract_dq.html?targetId=' + productId">《收益权转让协议》</a></span>
      </div>
      <div v-if="isBindCard" style="padding: 10px 0;">
        <button class="purchaseBtn" id="purchaseBtn" @click="buyForward">立即投资</button>
      </div>
      <div v-else style="padding: 10px 0;">
        <button class="purchaseBtn" @click="bindCard" style="background: #F66B12; margin-top: 10px;">认证绑卡</button>
      </div>
    </section>
    <div class="overlay" style="display: none;" v-show="overlayShow">
      <div class="overlay-content">
        <div class="title">
          您有<span style="color:#F66B12;">体验金/加息券</span>可用<br/>
          确定不使用任何优惠券？
        </div>
        <div class="btns-wrapper">
          <div class="btn btn-left" @click="overlayShow = false">取消</div>
          <div class="btn btn-right" @click="submit">确认</div>
        </div>
      </div>
    </div>
  </article>
  <script src="../../../js/product/fixed_product/fixed_invest_money.js"></script>
</body>

</html>
