<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>源码汇</title>
  <link rel="stylesheet" href="../../../css/base-2d86f7d6c5.css">
  <link rel="stylesheet" href="../../../css/product/product-8eca9c89b0.module-shi.css">
</head>

<body style="background: #f2f2f2;">
  <article class="try-cash-container greyBg" id="try-cash-container" v-cloak>
    <header class="f-cb">
      <a :href="'fixed_invest_money.html?productId=' + targetId" class="f-fl">
            <img src="../../../img/back.png" alt="" class="returnArrow">
        </a>
      <span class="title">体验金</span>
      <span style="font-size: 1.3rem;float: right;color: #212629;" v-on:click="unSelectCoupon">不使用</span>
    </header>
    <div v-for="item in canUseCouponList" style="background-color: #f2f2f2" class="f-cb">
      <div class="default_coupon_list" v-on:click="selectCoupon(item.autoId, item.amount)">
        <img src="../../../img/new/expired_icon.png" alt="" class="selectGou" v-if="item.isPreExpired">
        <img src="../../../img/new/new_icon.png" alt="" class="selectGou" v-if="item.isNew">
        <div class="subTitle f-cb">
          <p>{{item.amount}}<span class="symbol">元</span></p>
        </div>
        <div class="details">
          <div class="coupon-name">{{item.titleTip}}</div>
          <p>投资限额：<span>单笔金额{{item.minAmount}}元以上</span></p>
          <p>适用范围：<span>期限{{item.minDays}}天及以上产品</span></p>
          <p>使用周期：<span>{{item.dayCount}}天</span></p>
          <p>有效期：<span>{{item.beginDate}}-{{item.endDate}}</span></p>
        </div>
      </div>
    </div>
    <div class="dontUse_now" v-if="notCanUseCouponList.length>0">当前不可用</div>
    <div class="this_list f-cb" v-for="item in notCanUseCouponList" style="background-color: #f2f2f2">
      <div class="moneyCouponList_notshow default_coupon_list">
        <div class="subTitle f-cb">
            <p>{{item.amount}}<span class="symbol" style="color: #c8c9ca;">元</span></p>
        </div>
        <div class="details">
          <div class="coupon-name" style="color: #c8c9ca;">{{item.titleTip}}</div>
          <p>投资限额：<span>单笔金额{{item.minAmount}}元以上</span></p>
          <p>适用范围：<span>期限{{item.minDays}}天及以上产品</span></p>
          <p>使用周期：<span>{{item.dayCount}}天</span></p>
          <p>有效期：<span>{{item.beginDate}}-{{item.endDate}}</span></p>
        </div>
      </div>
    </div>
  </article>
  <script src="../../../js/product/fixed_product/fixed_tyj_ticket-82a235a0e9.js"></script>
</body>

</html>
