<!DOCTYPE html>
<html>

<head lang="en">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>源码汇</title>
  <link rel="stylesheet" href="../../../css/base-2d86f7d6c5.css">
  <link rel="stylesheet" href="../../../css/myCenter/regular_financial/rf_product-c8565d90d3.css">
</head>

<body style="background-color: #f2f2f2">
  <article class="rf_product_artical" id="rf_product_artical" v-cloak>
    <header class="f-cb">
      <a href="javascript:history.go(-1)" class="f-fl">
          <img src="../../../img/back.png" alt="" class="returnArrow">
      </a>
      <span class="pageTitle">资产详情</span>
    </header>
    <section class="head_section">
      <div class="head_font">
        {{productName}}
        <span class="tagIcon" v-if="detail.hasRateExtend">加息券</span>
        <span class="tagIcon" v-if="detail.hasPrincipalExtend">体验金</span>
      </div>
    </section>
    <section class="top_section">
      <!-- <div v-if="ifMyPro" class="ts_headTitle">
        预期收益（元）
      </div>
      <div v-else class="ts_headTitle">
        到账收益（元）
      </div> -->

      <aside class="ts_title">
        <div class="ts_div">
          <p class="ts_font1">投资金额 (元)</p>
          <p class="ts_font2_pre">{{buyAmount}}</p>
        </div>
        <div class="ts_line"></div>
        <div class="ts_div" style="position: relative;">
          <p class="ts_font1" v-if="ifMyPro">预期收益 (元)</p>
          <p class="ts_font1" v-else>累计收益（元）</p>
          <p class="ts_font2_pre">{{formatFloat(detail.expectedAmount)}}</p>
          <div class="ts_money">
            <!-- {{expectedAmount}} -->
            <img src="../../../img/new/img_expected_return.png" class="ts_alt" id="ts_alt" v-on:click="showDetailbenifit(dialogShow)" v-if="detail.hasRateExtend || detail.hasPrincipalExtend || detail.hasTargetExtend">
            <div class="ts_span" id="ts_span" v-show="dialogShow" style="display: none;">
              <div>
                预期基本收益：{{formatFloat(basicAmount)}}元
              </div>
              <div v-if="detail.hasTargetExtend">
                预期标的加息收益：{{formatFloat(detail.actAmount)}}元
              </div>
              <div v-if="detail.hasRateExtend">
                预期加息券加息收益：{{formatFloat(rateAmount)}}元
              </div>
              <div v-if="detail.hasPrincipalExtend">
                预期体验金收益：{{formatFloat(detail.principalAmount)}}元
              </div>
            </div>
          </div>
        </div>
      </aside>
    </section>
    <!-- <section class="middle_section">
      <div class="middle_layer1">
        <div style="float:left"></div>
        <p class="middle_section_tr1 middle_section_font1">到期时间</p>
        <p class="middle_section_tr2 middle_section_font1">投资期限</p>
        <div style="float:right"></div>
      </div>
      <div class="middle_layer2">
        <div style="float:left"></div>
        <p class="middle_section_tr1 middle_section_font2">{{endDate}}</p>
        <p class="middle_section_tr2 middle_section_font2" v-if="ifMyPro">{{allDay}}天</p>
        <p class="middle_section_tr2 middle_section_font2" v-else>已还款</p>
        <div style="float:right"></div>
      </div>
    </section> -->
    <div>    </div>
    <section class="detail_section f-cb">
      <div style="margin-top: 10px; background-color: #fff;">
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1" >基础年化率</p>
          <p class="layer_p2">{{yearRate}}%</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">投资日期</p>
          <p class="layer_p2">{{buyDate}}</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">到期日期</p>
          <p class="layer_p2">{{endDate}}</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">投资期限</p>
          <p class="layer_p2">{{allDay}}天</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px; background-color: #fff;" v-if="detail.hasTargetExtend">
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">标的加息率</p>
          <p class="layer_p2">{{formatRate(detail.actRate)}}%</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">标的加息天数</p>
          <p class="layer_p2">{{detail.targetExtendDay}}天</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px; background-color: #fff;" v-if="detail.hasRateExtend">
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">加息券加息率</p>
          <p class="layer_p2">{{formatRate(detail.rateRate)}}%</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">加息券的加息天数</p>
          <p class="layer_p2">{{detail.rateExtendDay}}天</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px; background-color: #fff;" v-if="detail.hasPrincipalExtend">
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">体验金金额</p>
          <p class="layer_p2">{{detail.principalValue}}元</p>
        </div>
      </div>
      <div class="detail_section_layer">
        <div class="layer_div">
          <p class="layer_p1">体验金使用周期</p>
          <p class="layer_p2">{{detail.principalExtendDay}}天</p>
        </div>
      </div>
    </div>
    <div style="margin-top: 10px; background-color: #fff;">
      <div class="detail_section_layer" v-on:click="pageToContact">
        <div class="layer_div">
          <p class="layer_p1">合同查看</p>
          <img src="../../../img/arrows_right.png" alt="" class="to_arrow">
          <p class="layer_p2">《产品合同》</p>
        </div>
      </div>
    </div>
    </section>
    <div style="height: 3rem;"> </div>
  </article>
  <script src="../../../js/myCenter/regular_financial/rf_product-d625af2883.js"></script>
</body>

</html>
