<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta name="format-detection" content="telephone=no">
	    <link rel="stylesheet" type="text/css" href="../../css/base-b0a112ffdd.css"/>
			<link rel="stylesheet" type="text/css" href="../../css/neo-invite-3f06cae4f2.css"/>
		<title>邀请好友</title>
	</head>
	<body>
		<article id="invite" class="body" v-cloak>
			<div class="invite-head">
				<div class="title">
					<!-- <div class="head-tip">活动时间：{{startTime}}-{{endTime}}</div> -->
					<img class="image" src="../../img/new/invite-head.jpg"/>
					<!--<img class="image" src="../../img/new/invite-head3.jpg"/>
					<img class="image" src="../../img/new/invite-code-wrapper.jpg"/> -->
					<div>
						<div class="invite-code-content2">
							<img class="image" src="../../img/new/invite-code-wrapper.jpg">
							<div class="invite-code">{{ splitInviteCode() }}</div>
						</div>
					</div>
					<div class="invite-title-tip">
						<img class="image" src="../../img/new/invite-head2.png"/>
					</div>
				</div>
				<!-- <img class="image" src="../../img/new/invite-notice.jpg"/> -->
				<div class="totalPrice">
					<div class="total-price-notice">
						获得金额 (元)
					</div>{{totalPrice}}
				</div>
			</div>
			<div class="list-wrapper">
				<div class="list-head f-cb">
					<div class="list-left list-td">用户</div>
					<div class="list-center list-td">投资金额(元)</div>
					<div class="list-right list-td">我的奖励(元)</div>
				</div>
				<div v-if="inviteList.length > 0">
					<ul class="list-body f-cb">
						<li v-for="(invite,index) in inviteList">
							<div class="list-left list-td">{{ invite.mobile }}</div>
							<div class="list-center list-td">{{ invite.topItemAmount }}</div>
							<div class="list-right list-td">{{ invite.price }}</div>
						</li>
						<li class="more" @click="moreInvite" v-if="moreBtnShow">点击加载更多</li>
					</ul>
				</div>
				<div class="noInvite" v-else><img src="../../img/new/no-record.png" /></div>
			</div>
			<div class="tips-wrapper">
				<div class="tip2">注：当日所获奖励将于次日9时左右充入余额</div>
				<img class="image" src="../../img/new/tip.png">
			</div>
			<!-- <div class="share-wrapper f-cb">
				<div class="btn" @click="openOverlay" >
					<img src="../../img/new/btn-facetoface.png" class="btn-share" style="width: 50%;margin: auto;"/>
				</div>
			</div> -->
			<div class="overlay" @click="closeOverlay" style="display: none;">
				<div class="overlay-content">
					<div class="btns-wrapper f-cb">
						<div class="btn btn-left">面对面邀请</div>
						<div class="btn btn-right">完成</div>
					</div>
					<img src="../../img/new/facetoface.png" class="faceToFace-img" />
				</div>
			</div>
		</article>
	</body>
	<script type="text/javascript" src="../../js/staticPage/neo-invite-new-038be34d41.js"></script>
</html>
