<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	    <meta content="yes" name="apple-mobile-web-app-capable">
	    <meta content="yes" name="apple-touch-fullscreen">
	    <meta name="format-detection" content="telephone=no">
	    <link rel="stylesheet" href="../../css/base-2d86f7d6c5.css">
	    <link rel="stylesheet" href="../../css/contract/contract2-99090a6216.css">
	    <title>合同</title>
	</head>
	<body>
		<article class="contractTransfer" id="contractTransfer" v-cloak>
			<input type="button" value="发送到邮箱" class="downloadBtn" @click="sentEmail" v-if="canNotSend">

			<div class="sentFloat" @click="hideDialog" v-if="!sendSuc">
				<div class="sentBox" @click.stop>
					<img src="../../img/close2.png"  class="sentBox_close" @click.stop = "hideDialog"/>
					<div class="sentBox_header">
						发送邮箱
					</div>
					<input type="email" id="emailAddr" class="emailAddr" placeholder="请输入您的邮箱地址" v-model="emailAddr"/>
					<input class="imgCodeInput" placeholder="请输入图像验证码" v-model="imgNum"/>
					 <a href="javascript:;" class="imgCode" v-on:click="getImgCode">
		                <img v-bind:src="imgData"  alt="" style="width: 100%;height: 100%;">
		            </a>
		            <div id="errorMessage" class="errorMessage"></div>
					<div class="sentBtn" v-on:click="contractEmail">
						发送
					</div>
				</div>
			</div>
			<div class="sentSucBox" v-else>发送成功</div>

			<section>
				<p class="title">《收益权转让协议》</p>
				<div class="contentTop">
					<p>受让方:{{contractData.buyUserName}}</p>
					<p>协议编号:{{dqUserId}}</p>
					<p>身份证号码:{{contractData.certId}}</p>
					<p>转让方: {{contractData.sellUserName}}</p>
					<p>住所: {{contractData.address}}</p>
					<p>平台方:上海景源金融信息服务有限公司</p>
					<p>住所:上海市静安区延安中路596弄21号223A室</p>
					<p class="marginTop">转让方和受让方基于平等自愿原则，通过平台方运营的理财平台(定义见下文)，就有关收益权转让事项达成如下协议，以兹共守:</p>
				</div>
				<div class="tip">
					<p class="tiptTitle">风险提示</p>
					<p class="fontW">请您务必仔细阅读并充分理解本协议包含的各个条款，特别是有关平台方的免责条款，以及对您权利限制的条款。本协议采用电子签署、点击成交方式, 您自愿点选"立即投资"键, 即视为已完全同意并接受本协议, 并愿受其约束, 本协议即成立并生效。您若不同意或无法理解本协议的任何条款, 请不要点选"确认付款"</p>
					<p>您可以通过登录理财平台选择受让收益权。您除需要关注交易操作流程以及业务规则外, 亦应遵守所有与理财平台相关的各类业务规则等。</p>
					<p>本协议已经平台备案, 但平台方接受本协议的备案并不表明对本协议项下产品的收益做出实质性判断或保证, 也不表明投资于本协议项下收益权没有风险。</p>
					<p>本协议项下收益权的投资可能面临的风险, 包括但不限于信用风险、市场风险、流动性风险、操作或技术风险、管理风险、流动性风险、信用风险、法律风险、税收风险、操作或技术风险以及不可抗力风险等在内的一切风险应完全由协议双方自行承担。</p>
				</div>
			</section>
			<section>
				<p class="title">第一部分 交易要素</p>
				<div class="content">
					<div class="item">
						<p class="subTitle">1.	受让方信息</p>
						<p>1.1 受让方名称:{{contractData.buyUserName}}</p>
						<p>1.2 平台用户名:{{contractData.userMobile}}</p>
						<p>1.3 身份证号:{{contractData.certId}}</p>
						<p>1.4 投资金额: {{contractData.currentAmount}}</p>
					</div>
					<div class="item">
						<p class="subTitle">2.	转让方信息
						<p>2.1 转让方: {{contractData.sellUserName}}</p>
						<p>2.2 住所: {{contractData.address}}</p>
						<p>2.3 营业执照编号: {{contractData.bussNo}}</p>
					</div>
					<div class="item">
						<p class="subTitle">3.	本产品信息</p>
						<p>3.1 本产品名称: {{contractData.targetName}}</p>
						<p>3.2 转让日:{{contractData.buyTime}}</p>
						<p>3.3 预计到期日:{{contractData.repayDate}}</p>
						<p>3.4 年化业绩比较基准: {{contractData.yearRateStr}}</p>
						<p>3.5 预期收益: 预期单日收益＝投资金额＊日利率（保留小数点后4位），根据实际天数按日计息【日利率=预期年化收益率/360（保留小数点后6位）】</p>
					</div>
					<div class="item">
						<p class="subTitle">4.	基础资产信息</p>
						<p>4.1 基础资产协议: {{contractData.agreementNo}}</p>
						<p>4.2 基础资产: {{contractData.basicAsset}}</p>
						<p>4.3 底层协议（如有）:</p>
						<p>4.4 底层资产（如有）:</p>
						<p>4.5 原始权利人: {{contractData.owner}}</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p>第二部分 标准条款与条件</p>
					<p class="subTitle">第一章	定义与释义</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="itemTitle">1.1	定义</p>
						<p class="noMargin">在本协议中, 除非上下文另有解释或文义另有所指, 下述名词具有如下定义:</p>

						<p class="itemTitle">涉及各相关方的定义</p>
						<p class="noMargin">受让方: 系指在理财平台注册, 并通过该平台认购本协议项下产品的自然人或法人。</p>

						<p>转让方: 系指基础资产权利人, 收益权的转让方。</p>

						<p>平台方: 系指上海景源金融信息服务有限公司。</p>

						<p>理财平台: 系指上海景源金融信息服务有限公司开发并运营的源码汇平台或根据业务需要不时修改名称的平台。该平台的网址为:www.51vest.com ,及本公司根据业务需要不时修改的网址。</p>

						<p>支付机构：系指为转让方与受让方提供支付及其相关服务的第三方支付机构，包括但不限于宝付支付、富友支付等。</p>

						<p class="itemTitle">涉及产品的定义</p>
						<p>底层资产（如有）: 转让方基于底层协议所取得的收益权权益。</p>

						<p>基础资产: 本协议项下的基础资产为转让方基于基础资产协议项下所取得的就底层资产（如有）所享有的收益权。</p>

						<p>收益权: 系指基础资产存续期间所产生如下的财产权益, 以下又称"产品"。</p>
						<div class="noMargin">
							<p>(a) 基础资产基于基础资产协议所产生的任何现金流入收益;</p>
							<p>(b) 基础资产经转让或其他处置/出售所产生的现金流入收益;</p>
							<p>(c) 基础资产项下担保(如有)所产生的现金流入收益。</p>
						</div>

						<p>预期年化收益率：系指以投资金额及基础资产的预期年化收益率为基准计算的预期年化收益率, 具体如第一部分交易要素所示。</p>

						<p>平台账户: 系指受让方在理财平台上开立的用于支付收益权转让交易项下的转让价款及收取收益与回购价款等用途的理财平台电子账户。</p>

						<p>指定账户: 系指转让方银行开立的用于收取收益权转让交易项下的转让价款及向平台账户转付收益及支付回购价款等用途的银行账户。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">1.2	释义</p>
						<div class="noMargin">
							<p>(a) 除非本协议有任何相反用词表述:</p>
							<p>i.本协议项下的任何当事方应被解释为包括他们各自的承继者和其为本协议所允许的受让方和被转让方;</p>
							<p>ii.凡提及一份子项目文件或任何其他协议或文书, 应指经不时修订或更新的该份子项目文件或其他协议或文书;</p>
							<p>iii.凡提及法律规定应指被修订或更新的规定;</p>
							<p>iv.凡提及元应指人民币元;</p>
							<p>v.凡提及一天中的某个时间应指北京时间。</p>
						</div>
						<p>(b) 章节、条款及附件的标题仅为参考便利之用。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第二章	转让</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="itemTitle">2.1	转让</p>
						<p class="noMargin">根据并受限于本协议的条款和条件, 转让方同意在一定条件下, 将其持有的基础资产项下的收益权转让至受让方, 受让方同意投资, 并接受转让方的转让。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.2	收益权</p>
						<p class="noMargin">双方同意, 上述收益权及其所对应的主体信息、基础资产信息和/或产品信息均应以本协议第一部分交易要素所列示为准。</p>
						<p>本协议项下收益权的全部现金流入收益均来源于因转让方投资基础资产而产生的任何及全部收入。</p>
						<p>受让方根据本协议受让收益权后, 即有权获得对应产品的预期收益, 并承担对应产品的一切风险, 包括但不限于无法实际获得预期收益的风险。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.3	提前到期</p>
						<p class="noMargin">受让方确认并同意，如果底层资产本身提前到期，则本协议项下转让的收益权提前到期，甲方应根据本协议的约定向乙方支付回款本金及对应的收益。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.4	继续受让</p>
						<p class="noMargin">受让方理解并同意, 当您签署本协议时, 您已经不可撤销地同意授权理财平台, 在您受让的全部或部分收益权到期并且转让方已经完成了相关付款且您未申请投资本金及利息的提现时, 协助您继续自动受让其他收益权, 以确保存续期间及预期收益率。其他收益权信息以收益权信息列表中所注明的收益权产品范围为限, 平台有权根据业务发展更新收益权信息列表, 并在网站公告中予以公示。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.5	再转让</p>
						<p class="noMargin">受让方理解并同意, 当您签署本协议时, 您已经不可撤销地同意授权理财平台, 在您受让的收益权产品尚未到期而您申请进行投资本金及利息的提现时, 通过平台发起该收益权转让申请, 将该等收益权转让给其他注册用户, 转让价格为受让方全部或部分投资金额及其对应收益。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.6	转让价款</p>
						<p class="noMargin fontW">受让方同意且确认</p>
						<p>(a)受让方应在确认购买收益权时全额支付投资金额对应价款,具体如第一部分交易要素所列示。该价款包括认购产品所支付的认购费、受让方向转让方支付的服务费(如有);</p>
						<p>(b) 受让方签署本协议即视为不可撤销的授权转让方委托支付机构从受让方指定的代扣代收账户中扣收等值于转让价款的款项。受让方知晓并确认,支付机构为转让方提供代收付服务,不对该项代扣代收的时效性和结果承担任何责任, 受让方应保证其平台账户中有足额款项且承担前述代收付的一切法律责任。若因受让方平台账户中无足够款项而使支付机构无法在收益权转让日(含当日)扣收投资额, 致使受让方未能成功受让该收益权的, 转让方或理财平台(或支付机构)不因此承担任何责任, 由此产生的全部损失应由受让方承担;</p>
						<p>(c) 产品认购期内, 受让方应将转让价款向转让方进行足额支付, 受让方通过支付机构进行支付的, 在支付机构完成付款即视为支付成功, 但所有支付行为的确认应以产品认购成功为前提。如受让方未在操作时间内完成付款(包括未支付或未足额支付), 则交易自动取消。</p>
						<p>(d) 受让方签署本协议并在按本协议规定支付转让价款后, 若发生难以认购成功的情形, 或转让方在收益权转让日前(含当日)未能满足本协议第三章规定, 则受让方受让收益权不成功, 转让方应自转让不成功之日届满后2个工作日内向</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.7	收益权的实现</p>
						<p class="noMargin">自受让人的投资款项全额且不可撤销地转入指定账户之日起, 收益权转让生效, 受让方即享有收益权。收益权自理财平台上该产品项下注明约定的起息日开始计算收益。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.8	预期收益</p>
						<p class="noMargin">(a) 预期收益: 受让方受让的收益权的预期年化收益率由第一部分交易要素所示。</p>
						<p>(b) 预期收益支付风险: 受让方实际获取本协议项下的收益以基础资产实际分配的收益为准, 转让方不对预期年化收益率作任何保证, 受让方充分理解并确认转让方未对预期年化收益率做出任何明示的或暗示的承诺或保证, 受让方应根据自身的投资偏好和风险承受能力, 自行衡量产品信息以及交易的真实性和安全性, 并承担可能产生的相应风险与损失。</p>
						<p>(c) 转让方有权根据基础资产协议收取基础资产产生的现金流入收益，并根据本协议第一部分交易要素所约定的预期收益于预期到期日一次性向受让方转付。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.9	收益权回购</p>
						<p class="noMargin">转让方于本产品期限届满后回购受让方受让的该部分收益权，收益权的回购价款为受让方的投资款及预期收益，转让方应于预期到期日一次性向受让方转付。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.10	服务费用</p>
						<p class="noMargin">本协议双方同意并确认, 理财平台有权按照该平台网站届时公布的收费公告(包括收费标准)就其为转让方和受让方提供的平台服务收取服务费、管理费、手续费等。转让方、受让方同意并授权支付机构可以直接从收益权转让交易的转让价款或投资回报中划扣其应付理财平台的一切费用和款项。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">2.11 存续期限</p>
						<p class="noMargin">产品存续期限自起息日起至产品到期日止。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第三章	先决条件</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="noMargin">受让方与转让方同意, 受让方有效受让收益权以如下事项作为先决条件:</p>
						<div class="noMargin" style="margin-top: 20px;">
							<p>(a)本协议及其他交易文件已经生效并保持有效;</p>
							<p>(b)受让方已在确认购买收益权时全额支付投资金额对应价款；</p>
							<p>(c)产品的相关信息已在理财平台上进行相应披露；</p>
							<p>(d)转让方没有发生影响或可能影响其履行本协议的违约事件, 且其业务、资产、财务状况、管理及经营等方面没有发生重大或实质性的不利变化;</p>
							<p>(e)转让方已依法取得并合法拥有基础资产和收益权, 基础资产及收益权上不存在其他质押等任何形式的第三方权利, 也不存在任何权属争议或者涉及任何纠纷, 基础资产及收益权的状况未发生重大不利变化；</p>
							<p>(f)转让方没有发生导致或可能导致任何本协议的合法性、有效性、拘束力或强制执行力受到影响的事件;</p>
							<p>(g)中国的法律法规或监管机构的监管意见没有禁止或限制本协议项下所涉及的收益权转让。</p>
						</div>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第四章	陈述与保证</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="itemTitle">4.1	转让方的陈述与保证</p>
						<p class="noMargin">转让方为履行本协议, 向受让方作出如下陈述与保证:</p>
						<p>(a)转让方拥有完全的民事权利能力和民事行为能力以签署本协议、享有本协议项下任何权利及履行本协议项下任何义务所必需的一切权利和授权。签署和履行本协议没有违反对其适用的法律、法规规定, 亦不会与以其为对象或以其为一方对其资产有约束力的任何协议、协议或其他文件产生任何冲突;</p>
						<p>(b)在转让方向受让方转让收益权时, 转让方为拟转让收益权的唯一合法所有人, 且该收益权之上不存在法律瑕疵或第三人可主张的任何其他权利;</p>
						<p>(c)转让方在本协议项下向受让方直接或间接提交的所有文件在重大方面为真实的、准确的和完整的;</p>
						<p>(d)转让方已完全遵守平台的各项业务规则,所有向平台提交的文件、信息在所有重大方面都是真实、准确以及完整的;</p>
						<p>(e)转让方在本协议项下的义务是其合法有效的义务,对其有约束力,并可按照其条款执行;</p>
						<p>(f)转让方保证勤勉地履行本协议项下义务, 非因法律禁止, 不限制受让方行权, 也不终止本协议;</p>
						<p>(g)转让方保证在产品或服务到期后, 向受让方支付与所选购产品或服务及收益等额对价的资金。该资金将默认存储在受让方的平台账户中;</p>
						<p>(h)转让方保证配合受让方完成转让所需的一切手续。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">4.2	基础资产保证</p>
						<p class="noMargin">为本协议其他方的利益, 转让方就其转让予受让方的标的收益权的相关状况, 向受让方做出陈述和保证如下:</p>
						<p>(a)转让方(i)是收益权及其所对应的基础资产的唯一权利人, 除转让方以外的任何其他方无权行使任何权利包括抵销权; (ii)未向任何第三方转让该等权利或利益; 且(iii)未对该等权利或利益设定任何担保权益或任何其他财产负担;</p>
						<p>(b)据转让方所知, 转让方向受让方提供的关于转让方转让的收益权及其所对应的基础资产、基础协议的全部资料和信息, 在所有可能对权利实现有重大影响的方面均真实、准确和完整;</p>
						<p>(c)转让方对收益权及其所对应的基础资产享有的所有权并非是无效的或已被撤销、宣布无效或被废止, 亦不能被撤销、宣布无效或被废止;</p>
						<p>(d)转让方出售、转让和转移其在收益权及其所对应的基础资产中的所有权和其他有关权益的权利不受任何限制;</p>
						<p>(e)转让方将收益权转让予受让方的行为, 不会由于任何原因而被禁止或限制, 且不需要获得任何其他主体的同意;</p>
						<p>(f)收益权所对应的基础资产为转让方实际、公正和善意地向相对方履行相关义务所获得, 转让方已按相关基础协议中的规定向相对方完整、及时、适当且不可撤销地履行了相关义务;</p>
						<p>(g)转让方没有违反基础协议或任何法律法规。没有可能改变基础协议项下基础资产所对应的付款条件的其他协议(书面形式或其他形式)或文件。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">4.3	受让方的陈述与保证</p>
						<p class="noMargin">受让方为履行本协议, 向转让方作出如下陈述与保证:</p>
						<p>(a)受让方拥有完全的民事权利能力和民事行为能力以签署本协议、享有本协议项下任何权利及履行本协议项下任何义务所必需的一切权利和授权。签署和履行本协议没有违反对其适用的法律、法规规定, 亦不会与以其为对象或以其为一方对其资产有约束力的任何协议、协议或其他文件产生任何冲突;</p>
						<p>(b)受让方在本协议项下的义务是其合法有效的义务, 对其有约束力, 并可按照其条款执行, 本协议的各条款(包括产品收益权转让及服务协议原始条款)均是受让方真实意思的表示, 对受让方具有法律约束力;</p>
						<p>(c)受让方通过支付机构向转让方支付的转让价款的资金来源均符合法律法规、相关监管规定等强制性规定;</p>
						<p>(d)受让方承诺以网络在线点击确认的方式签订本协议后即视为不可撤销及变更地授权理财平台根据最终撮合结果自主生成前述信息, 理财平台仅就前述信息进行展示, 并不承担其他任何义务与责任; 且未经转让方的同意, 受让方不得否认本协议项下法律关系或以任何方式撤回、撤销本协议;</p>
						<p>(e)受让方已充分阅读、理解、认可收益权产品的资产信息及产品特性并愿意自行承担投资风险;</p>
						<p>(f)受让方确认, 其获得投资收益的前提是转让方实际获得投资收益;</p>
						<p>(g)受让方承诺, 受让方获得本协议项下的收益权后, 不得通过质押等方式在收益权上设置任何权利限制;</p>
						<p>(h)受让方承诺, 受让方获得本协议项下的收益权后, 未经转让方同意, 不得向任何第三人转让收益权;</p>
						<p>(i)受让方已完全遵守平台的各项业务规则, 所有向平台提交的文件、信息在所有重大方面都是真实、准确以及完整的;</p>
						<p>(j)受让方已完全遵守反洗钱相关法律法规的各项要求, 资金来源合法。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第五章	承诺</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="itemTitle">5.1	双方承诺</p>
						<p class="noMargin">本协议双方为履行本协议之目的, 进行承诺如下:</p>
						<p>如在本协议签署之后完成之前, 发生任何事件或出现任何变故, 造成或可能造成任何一方的陈述与保证的任何重大方面在完成时未能满足或成为不真实、不准确或具有误导性, 或对于该方对于协议的履行产生重大不利影响, 则该方应在其获悉此情况后, 在实际可行的范围内尽快在完成之前将前述情况完整地通知其他方, 并应根据其他方可能提出的合理要求, 自担费用对发生的事件或变故进行调查, 并在此等情形需要下, 采取一切相关步骤与行动以减轻这些事件的后果;</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">5.2	转让方的承诺</p>
						<p class="noMargin">为本协议之目的, 转让方兹向受让方作出如下承诺:</p>
						<p>(a)转让方将采取使本协议生效及本协议的履行所必需的或所要求的全部行动并为该等目的签署和提交所有相关文件;</p>
						<p>(b)转让方将按照本协议的相关规定向受让方履行回购收益权的义务;</p>
						<p>(c)转让方应确保持续满足陈述与保证, 并且及时完整地履行其在本协议项下所有和任何未履行的或持续的义务;</p>
						<p>(d)转让方出售、转让和转移其在收益权及其所对应的基础资产中的所有权和其他有关权益的权利不受任何限制;</p>
						<p>(e)转让方将收益权转让予受让方的行为, 不会由于任何原因而被禁止或限制, 且不需要获得任何其他主体的同意;</p>
						<p>(f)收益权所对应的基础资产为转让方实际、公正和善意地向相对方履行相关义务所获得, 转让方已按相关基础协议中的规定向相对方完整、及时、适当且不可撤销地履行了相关义务;</p>
						<p>(g)转让方没有违反基础协议或任何法律法规。没有可能改变基础协议项下基础资产所对应的付款条件的其他协议(书面形式或其他形式)或文件。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">5.3	受让方的承诺</p>
						<p class="noMargin">为本协议之目的, 受让方兹向转让方作出如下承诺:</p>
						<p>(a)受让方将采取使本协议生效及本协议的履行所必需的或所要求的全部行动并为该等目的签署和提交所有相关文件;</p>
						<p>(b)受让方将于本协议规定期限内经由支付机构向转让方支付全额转让价款;</p>
						<p>(c)受让方应确保持续满足陈述与保证, 并且及时完整地履行其在本协议项下所有和任何未履行的或持续的义务。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第六章	违约</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="noMargin">任何一方违反本协议的约定, 包括但不限于在本协议项下的陈述和保证不真实或者存在重大遗漏、误导，使得本协议的全部或部分不能履行, 均应承担继续履行、采取补救措施、支付违约金的违约责任, 并赔偿守约方因此遭受的全部损失(包括但不限于由此产生的诉讼费、律师费、公证费、评估费、保全费用、拍卖费和强制执行费用); 如多方违约, 根据实际情况各自承担相应的责任。违约方应赔偿因其违约行为而给未违约方造成的损失, 包括合同履行后可以获得的利益, 但不得超过违约合同一方订立合同时可以预见或应当预见的因违反合同可能造成的损失。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">第七章	杂项条款</p>
				</div>
				<div class="mainContent">
					<div class="contentItem">
						<p class="itemTitle">7.1	保密</p>
						<p class="noMargin">本协议双方为履行本协议之目的, 进行承诺如下:</p>
						<p>未经另一方事先书面同意, 任何一方不得将与本协议以及本协议项下交易和涉及另一方的任何信息向任何人士披露, 但平台方因业务需要所享有的信息知情权除外。</p>
						<p>双方在此确认, 出于保护转让方信息安全的考虑, 对于金融产品的具体信息, 仅转让方及平台方可见。但该等金融产品的具体信息在本协议项下的隐藏, 并不对基础资产的真实有效性、转让方的真实意思的表示以及本协议的有效性产生任何影响。</p>
						<p>本条不限制当事方根据适用法律、法规和有权机关的要求, 就与本协议项下交易有关信息进行披露。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.2	生效</p>
						<p class="noMargin">本协议采用电子合同方式。受让方使用账户及登录密码登录理财平台后，根据理财平台的相关规则，在相关页面通过点击确认或类似方式签署的电子合同即视为受让方本人真实意愿并系为以受让方本人名义签署的协议，具有法律效力。受让方应妥善保管自己的账户密码等账户信息，受让方通过前述方式订立的电子合同对合同各方具有法律约束力，受让方不得以账户及登陆密码等账户信息被盗用或任何其他理由否认已订立的协议的效力或不按照该等协议履行相关义务。本协议双方委托理财平台保管所有与本协议有关的书面文件或电子信息; 本协议双方同意并确认由理财平台提供的与本协议有关的书面文件或电子信息应作为本协议有关事项的终局证明。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.3	通知送达</p>
						<p class="noMargin">受让方的联络方式及平台账户以其注册理财平台时提交的信息为准, 若受让方的相关信息发生变更, 受让方应及时通知转让方及理财平台, 并经转让方与理财平台确认; 否则, 因此造成的一切损失由受让方自行承担。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.4	费用承担</p>
						<p class="noMargin">各方应依照中国法律承担其本身因下列事项而发生的所有费用(包括税收):</p>
						<p>(a)准备、谈判及签订本协议及其他交易文件;</p>
						<p>(b)完成本协议及其他有关交易文件规定的交易。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.5	修改</p>
						<p class="noMargin">未经平台方事前书面同意, 本协议生效后, 任何一方不得擅自修改本协议的任何条款。如需变更本协议, 应经双方协商一致并达成书面意见后, 提交平台方审核并由平台方作出是否同意变更的决定。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.6	无效</p>
						<p class="noMargin">如本协议任何条款根据任何适用法律被认定为全部或部分不合法、无效或在法律上不可强制执行, 该条款或其相关部分应仅限于此被视为不构成本协议之一部分, 且本协议其余部分的合法性、效力和可强制执行力不应受影响。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.7	不可抗力</p>
						<p class="noMargin">本协议任一方因不可抗力的发生而未能履行或延迟履行本协议, 但已经采取适当措施避免损失扩大, 及时通知相对方, 并在不可抗力发生后[15]个工作日内向本协议其他双方提供事故详情和有效证明, 则该未能履行或延迟履行其义务的一方将不承担本协议项下的违约责任。不可抗力发生后, 协议双方应通过友好协商, 尽最大可能继续执行本协议。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.8	管辖法律</p>
						<p class="noMargin">本协议和将根据本协议签订的各份文件受中国法律管辖并依中国法律解释。</p>
					</div>
					<div class="contentItem">
						<p class="itemTitle">7.9	争议解决</p>
						<p class="noMargin">凡因本协议引起的或与本协议有关的任何争议, 双方应友好协商, 力求谈判解决。凡由本协议引起的或与本协议有关的一切争议、纠纷, 当事人应首先协商解决。协商不成, 各方一致同意提交上海市静安区人民法院通过诉讼方式解决。</p>
					</div>
				</div>
			</section>
			<section>
				<div class="title">
					<p class="subTitle">(以下无正文)</p>
				</div>
				<div class="mainContent">
					<img src="../../img/seal.png" class="seal">
					<div class="contentItem">
						<div class="noMargin">
							<p>受让方签字：</p>
							<p>日期：</p>
						</div>
					</div>
					<div class="contentItem">
						<div class="noMargin">
							<p>转让方授权代表签字/盖章</p>
							<p>日期：</p>
						</div>
					</div>
					<div class="contentItem">
						<div class="noMargin">
							<p>平台：上海景源金融信息服务有限公司</p>
							<p>联系地址：上海市浦东新区东方路1267弄陆家嘴金融服务广场二期13号楼13层</p>
						</div>
					</div>
				</div>
			</section>
		</article>
		<script src="../../js/contract/contract_transfer-9ea7d516db.js"></script>
	</body>
</html>
