/*------------------------------------------- current_productDetails.html -------------------------------------------*/
.current_productDtls_container{
    position: relative;
}
.current_productDtls_container .benefitInfo{
    /*height:21rem;*/
    background: #fff;
    padding: 0 1.6rem 2rem 1.6rem;
}
.current_productDtls_container .targetActivityBg{
    background:#fb5f20;
    border-radius:4rem;
    -webkit-border-radius:4rem;
    font-size: 1rem;
    line-height: 1rem;
    padding: 0.2rem 0.8rem;
    color: #fff;
    text-align: center;
    margin-left: 0.4rem;
}
.current_productDtls_container .benefitInfo div p:first-child{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color:#717071;
    text-align:left;
    padding-top: 2rem;
}
.current_productDtls_container .benefitInfo div p:last-child{
    font-size:4rem;
    line-height: 4rem;
    margin-top: 1.5rem;
    color:#F66B12;
}
.current_productDtls_container .benefitInfo div p:last-child span{
    font-size:1.6rem;
    color:#F66B12;
}
.current_productDtls_container .addBlock{
    margin-top: 0.4rem;
    font-size:1rem;
    line-height: 1rem;
    color:#717071;
    text-align:left;
    border: solid 1px #f2f2f2;
    white-space: nowrap;
}
.current_productDtls_container .addBlock .mTxt{
    width: 16%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    background: #717071;
}
.current_productDtls_container .addBlock .vTxt{
    width: 84%;
    height: 2rem;
    line-height: 2rem;
    text-align: left;
    color:#717071;
    text-indent: 1rem;
}
.current_productDtls_container .progressBlock{
    font-size:1.2rem;
    line-height: 1.2rem;
    color:#717071;
    text-align:left;
    margin-top: 2.5rem;
}
.current_productDtls_container .available_amount{
    margin-left: 1rem;
}
.current_productDtls_container .progressBar{
    background:#e8e8e8;
    width:100%;
    height:0.8rem;
}
.current_productDtls_container .progressBar p{
    width: 10%;
    height: 100%;
    background:#F66B12;
    margin-top: 1rem;
}
.current_productDtls_container .product_Buy{
    background:#ffffff;
    margin-top: 2rem;
}
.current_productDtls_container .product_Buy .beginLink{
    line-height: 1.7rem;
    border-bottom: solid 1px #f2f2f2;
    padding: 1.6rem;
    font-size:1.5rem;
    color:#4a4a4a;
    text-align:left;
    display: block;
}
.current_productDtls_container .product_Buy .beginLink span{
    font-size:1.5rem;
    color:#F66B12;
}
.current_productDtls_container .product_Buy .intro{
    font-size:1.5rem;
    line-height: 1.5rem;
    color:#4a4a4a;
    text-align:left;
    padding: 1.6rem;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

.current_productDtls_container .product_Buy .intro p:first-child{
    font-size:1.5rem;
    line-height: 1.5rem;
    color:#4a4a4a;
    text-align:left;
}
.current_productDtls_container .product_Buy .intro p:last-child{
    font-size:1.2rem;
    color:#F66B12;
    line-height:1.8rem;
    text-align:left;
    margin-top: 1.6rem;
}
.current_productDtls_container .product_introduction{
    background:#ffffff;
    height:10rem;
    margin-top: 0.9rem;
    border: solid 1px #f2f2f2;
}
.current_productDtls_container .product_introduction .firstLine a:first-child{
    border-right: solid 1px #f2f2f2;
    font-size:1.5rem;
    color:#4a4a4a;
    width: 50%;
    height: 5rem;
    line-height: 5rem;
}
.current_productDtls_container .product_introduction .firstLine a:last-child{
    border-bottom: solid 1px #f2f2f2;
    font-size:1.5rem;
    color:#4a4a4a;
    width: 49%;
    height: 5rem;
    line-height: 5rem;
}

.current_productDtls_container .product_introduction .secondLine a:first-child{
    border-top: solid 1px #f2f2f2;
    font-size:1.5rem;
    color:#4a4a4a;
    width: 50%;
    height: 5rem;
    line-height: 5rem;

}
.current_productDtls_container .product_introduction .secondLine a:last-child{
    border-left: solid 1px #f2f2f2;
    font-size:1.5rem;
    color:#4a4a4a;
    width: 49%;
    height: 5rem;
    line-height: 5rem;

}
.current_productDtls_container .product_introduction  .pi_icon{
    width: 2rem;
    margin-left: 2rem;
    vertical-align: middle;
}
.current_productDtls_container .pdt_risk{
    width: 13.2rem;
    height: 1.4rem;
    line-height: 1.4rem;
    margin-top: 2.8rem;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.current_productDtls_container .investBtn{
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 100%;
    margin-top: 1rem;
}
.current_productDtls_container .purchaseBtn {
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
    position: relative;
    /*bottom: 0;*/
    width: 100%;
}
/*------------------------------------------- current_invest_money.html -------------------------------------------*/
.buy-currPro-container{
    position: relative;
    /*overflow: hidden;*/
}
.buy-currPro-container .inputErrorMsg{
    background: #f2f2f2;
    font-size: 1rem;
    text-indent: 1.5rem;
    color: red;
}
.buy-currPro-container .avail-amount-block{
    padding: 1.2rem 1.4rem;
    /*background: #f2f2f2;*/
    font-size:1.2rem;
    line-height: 1.2rem;
    color:#717071;
    text-align:left;
}
.buy-currPro-container .form-group {
    padding: 1.1rem 1.4rem;
    background: #fff;
    /*border-bottom: solid 1px #f2f2f2;*/
    position: relative;
}
.buy-currPro-container .form-input {
    line-height:1.5rem;
    font-size:1.5rem;
    color:#727171;
    letter-spacing:0px;
    text-align:left;
    margin-left: 1rem;
    border: none;
    outline: none;
    margin-top: -5px;
    width: 65%;
    top: 16px;
    position: absolute;
}
.buy-currPro-container .form-text {
    line-height:1.5rem;
    font-size:1.5rem;
    color:#4a4a4a;
    text-align:left;
}
.buy-currPro-container .contract-read {
    margin-top: 28.5rem;
    padding: 0 1.4rem;
}
.buy-currPro-container .contract-read span{
    display: inline-block;
    margin-left: 1rem;
}
.buy-currPro-container .contract-read span{
    line-height:1.2rem;
    font-size:1.2rem;
    color:#717071;
    line-height:2rem;
    text-align:left;
    /*text-indent: 1rem;*/
}
.buy-currPro-container .contract-read span a{
    color: #F66B12;
}

.buy-currPro-container .purchaseBtn {
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    /*margin-top: 1rem;*/
    position: relative;
    /*width: 100%;*/
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
    width: 92%;
    display: block;
}
.buy-currPro-container .horLine{
    width: 92%;
    height: 1px;
    background: #e6e6e6;
    margin: 0 4%;
    /*display: block;*/

}
.buy-currPro-container .rechargeBtn {
    background:#af5c46;
    height:4.5rem;
    width: 92%;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
    display: block;
}
/*------------------------------------------- current_invest_success.html -------------------------------------------*/
.currPro-success-container .content-section {
    position: relative;
    padding: 2.7rem 2.7rem 3rem 2.7rem;
    background: #fff;
}

.currPro-success-container .purchaseStatus {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
}
.currPro-success-container .purchaseStatus p:first-child{
    margin-bottom: 0.6rem;
    line-height: 1.8rem;
    font-size:1.8rem;
    color:#F66B12;
    text-align:left;
}
.currPro-success-container .purchaseStatus p:last-child{
    font-size:1.2rem;
    color:#717071;
    line-height:1.6rem;
    text-align:left;
}
.currPro-success-container .startCount {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
    margin-top: 2.2rem;
}
.currPro-success-container .startCount p:last-child {
    line-height: 1.2rem;
    font-size: 1.2rem;
    padding-top:1rem;
}
.currPro-success-container .duedate {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
    margin-top: 2.2rem;
}
.currPro-success-container .duedate p:last-child  {
    line-height: 1.2rem;
    font-size: 1.2rem;
    padding-top:1rem;
}
.currPro-success-container .jumpAsset {
    background:#F66B12;
    height:4.2rem;
    line-height: 4.2rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 91%;
    margin-top: 13rem;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.currPro-success-container .jumpIndex {
    background:#ffffff;
    border:1px solid #F66B12;
    height:4.2rem;
    line-height: 4.2rem;
    text-align: center;
    color: #F66B12;
    width: 91%;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 4.5%;
    margin-right: 4.5%;
}
.currPro-success-container .process-status{
    width: 5.3%;
}
.currPro-success-container .content-section aside{
    margin-left: 4%;
}
/*------------------------------------------- fixed_productDetails.html -------------------------------------------*/
.fixed_productDtls_container{
    position: relative;
}
.fixed_productDtls_container .benefitInfo{
    /*height:21rem;*/
    background: #fff;
    padding: 2rem 1.6rem 1rem;
    position: relative;
}
.fixed_productDtls_container .targetActivityBg{
    background:#fb5f20;
    border-radius:4rem;
    -webkit-border-radius:4rem;
    -moz-border-radius:4rem;
    font-size: 1.2rem;
    line-height: 1.2rem;
    padding: 0.1rem 0.6rem;
    color: #fff;
    text-align: center;
    margin-left: 0.4rem;
}
.fixed_productDtls_container .benefitInfo div p:first-child{
    font-size: 1.3rem;
    line-height: 1.3rem;
    color:#717071;
    text-align:left;
    /*padding-top: 2rem;*/
}
.fixed_productDtls_container .benefitInfo div p:last-child{
    font-size: 45px;
    color: #1E2637;
    line-height: 2.5rem;
    margin-top: 8px;
    text-align: center;
}
.fixed_productDtls_container .benefitInfo div p:last-child span{
    font-size: 22px;
    color: #1E2637;
}
.fixed_productDtls_container .addBlock{
    margin-top: 1.5rem;
    font-size:1rem;
    line-height: 1rem;
    color:#717071;
    text-align:left;
    border: solid 1px #f2f2f2;
}
.fixed_productDtls_container .addBlock .mTxt{
    width: 16%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color: #fff;
    background: #717071;
}
.fixed_productDtls_container .addBlock .vTxt{
    width: 70%;
    height: 2rem;
    line-height: 2rem;
    text-align: center;
    color:#717071;
}
.fixed_productDtls_container .progressBlock{
    font-size:1.2rem;
    line-height: 1.2rem;
    color:#717071;
    text-align:left;
    margin-top: 2.5rem;
}
.fixed_productDtls_container .available_amount{
    margin-left: 1rem;
}
.fixed_productDtls_container .progressBar{
    background:#e8e8e8;
    width:100%;
    height:3px;
}
.fixed_productDtls_container .progressBar p{
    width: 10%;
    height: 100%;
    background:#F66B12;
    margin-top: 1rem;
}
.fixed_productDtls_container .horLine{
    width: 100%;
    height: 1px;
    background: #f2f2f2;
    /*margin: 0 1.1rem;*/
    display: block;

}
.fixed_productDtls_container .proj-during-time{
    padding: 1.2rem 1.6rem;
    background: #fff;
}
.proj-during-time li{
    width: 33.3%;
}
.fixed_productDtls_container .prt-name{
    font-size:12px;
    color:#9b9b9b;
}
.fixed_productDtls_container .prt-value{
    font-size:15px;
    color:#4a4a4a;
    margin-top: 4px;
}
.fixed_productDtls_container .product_Buy{
    background:#ffffff;
    margin-top: 1rem;
}
.fixed_productDtls_container .product_Buy .beginLink{
    line-height: 1.7rem;
    border-bottom: solid 1px #f2f2f2;
    padding: 15px 1.6rem;
    font-size:1.5rem;
    color:#4a4a4a;
    text-align:left;
    display: block;
}
.fixed_productDtls_container .product_Buy .beginLink span{
    font-size:1.5rem;
    color:#F66B12;
}
.fixed_productDtls_container .product_Buy .intro{
    height: 20px;
    overflow: hidden;
    padding: 15px 1.6rem;
    font-size:12px;
    color:#9b9b9b;
    line-height:16px;
}
.openDes{
    padding-bottom: 14px;
    text-align: center;
    font-size:13px;
    color:#1E2637;
    position: relative;
}
.openDes img{
    width: 9px;
    margin-left: 3px;
    margin-top: -4px;
}
.openDes img.shadow{
    width: 100%;
    height: 15px;
    position: absolute;
    top: -15px;
    left: 0;
    margin-left: 0px;
    margin-top: 0px;
}
.fixed_productDtls_container .product_introduction{
    background:#ffffff;
    margin-top: 0.9rem;
    border: solid 1px #f2f2f2;
    /*padding-bottom: 12rem;*/
}
.fixed_productDtls_container .product_introduction .firstLine a{
    border-bottom: solid 1px #f2f2f2;
    font-size:1.5rem;
    color:#4a4a4a;
    width: 100%;
    height: 50px;
    line-height: 50px;
}

.progressWrap p{
    font-size:12px;
    color:#717071;
    margin: 18px 0 8px;
}

.progressDiv{
    width: 100%;
    background-color: #e8e8e8;
    height: 15px;
    position: relative;
    z-index: 999;
    height: 8px;
}

.progress{
    background-color: #F66B12;
    height: 15px;
    position: absolute;
    top: 0;
    z-index: 999;
    height: 8px;
}

.arrow{
    width: 10px;
    margin: 15px 1.6rem;
}

.secuIcon{
    position: absolute;
    top: 0;
    right: 5%;
    width: 18%;
}

.secuIcon img{
    width: 100%;
}

.rateTitle{
  font-size: 13px;
  color: #686C73;
  margin-bottom: 10px;
}

.fixed_productDtls_container .product_introduction  .pi_icon{
    width: 1.8rem;
    margin-left: 2rem;
}
.fixed_productDtls_container .pdt_risk{
    width: 14px;
    display: inline-block;
    padding-top: 15px;
    vertical-align: bottom;
}
.fixed_productDtls_container .calculateBtn{
    background:#4a4a4a;
    width: 15.2%;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
}
.fixed_productDtls_container .calculateBtn img{
    width: 2rem;
    display: block;
    margin: 1.25rem auto;
}
.fixed_productDtls_container .investBtn{
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    border-radius: 2px;
    width: 100%;
}
.fixed_productDtls_container .day-txt-bg{
    background:#81a5a3;
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.2rem 0.8rem;
    color: #fff;
    text-align: center;
    margin-right: 0.4rem;
}
/*------------------------------------------- fixed_invest_money.html -------------------------------------------*/
.buy-fixedPro-container{
    position: relative;
    overflow: hidden;
}
.errorMsgWrap{
    height: 20px;
    padding-top: 8px;
    background: #f2f2f2;
    font-size: 1rem;
    text-indent: 4%;
    color: #af5c46;
}
.buy-fixedPro-container .avail-amount-block{
    padding: 1.2rem 1.4rem;
    /*background: #f2f2f2;*/
    font-size:1.2rem;
    line-height: 1.2rem;
    color:#717071;
    text-align:left;
}
.buy-fixedPro-container .form-group {
    padding: 1.1rem 4%;
    width: 92%;
    background: #fff;
    /*border-bottom: solid 1px #f2f2f2;*/
    position: relative;
}
.buy-fixedPro-container .form-group img{
    width: 1rem;
}
.buy-fixedPro-container .form-num{
    line-height: 1.5rem;
    font-size:1.5rem;
    color:#F66B12!important;
    text-align:right;
    margin-right: 3%;
    width: 30%;
}
.buy-fixedPro-container .form-input {
    line-height:1.5rem;
    font-size:1.5rem;
    color:#727171;
    letter-spacing:0px;
    text-align:left;
    margin-left: 1rem;
    border: none;
    outline: none;
    margin-top: -5px;
    width: 65%;
    top: 16px;
    position: absolute;
}
.buy-fixedPro-container .form-input::-webkit-input-placeholder {
    color: #c8c9ca !important;
}
.buy-fixedPro-container .avail_cards_block{
    margin-top: 2rem;
}

.buy-fixedPro-container .form-text {
    line-height:1.5rem;
    font-size:1.5rem;
    color:#4a4a4a;
    text-align:left;
}
.buy-fixedPro-container .contract-read {
    margin-top: 15rem;
    padding: 0 1.4rem;
}
.buy-fixedPro-container .contract-read span{
    display: inline-block;
    margin-left: 1rem;
}
.buy-fixedPro-container .contract-read span{
    line-height:1.2rem;
    font-size:1.2rem;
    color:#717071;
    line-height:2rem;
    text-align:left;
    /*text-indent: 1rem;*/
}
.buy-fixedPro-container .contract-read span a{
    color: #F66B12;
}

.buy-fixedPro-container .purchaseBtn {
    background:#F66B12;
    height:4.5rem;
    width: 92%;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
}
.buy-fixedPro-container .rechargeBtn {
    background:#af5c46;
    height:4.5rem;
    width: 92%;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 4%;
    margin-right: 4%;
    display: block;
}

.buy-fixedPro-container .horLine {
    width: 92%;
    height: 1px;
    background: #e6e6e6;
    margin: 0 4%;
    display: block;
}
/*------------------------------------------- fixed_invest_success.html -------------------------------------------*/
.fixed-success-container .content-section {
    position: relative;
    padding: 2.4rem 2.7rem;
    background: #fff;
}

.fixed-success-container .purchaseStatus {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
}
.fixed-success-container .purchaseStatus p:first-child{
    margin-bottom: 0.6rem;
    line-height: 1.8rem;
    font-size:1.8rem;
    color:#F66B12;
    text-align:left;
}
.fixed-success-container .purchaseStatus p:last-child{
    font-size:1.2rem;
    color:#717071;
    line-height:1.6rem;
    text-align:left;
}
.fixed-success-container .startCount {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
    margin-top: 2.2rem;
}
.fixed-success-container .startCount p:last-child {
    line-height: 1.2rem;
    font-size: 1.2rem;
    padding-top:1rem;
}
.fixed-success-container .duedate {
    line-height: 1.8rem;
    font-size: 1.8rem;
    color:#c8c9ca;
    text-align:left;
    margin-top: 1.5rem;
}
.fixed-success-container .duedate p:last-child  {
    line-height: 1.2rem;
    font-size: 1.2rem;
    padding-top:1rem;
}
.fixed-success-container .checkAsset {
    background:#F66B12;
    height:4.2rem;
    line-height: 4.2rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 91%;
    margin-top: 20rem;
    margin-left: 4.5%;
    margin-right: 4.5%;
}

.fixed-success-container .returnIndex {
    background:#ffffff;
    border:1px solid #F66B12;
    height:4.2rem;
    line-height: 4.2rem;
    text-align: center;
    color: #F66B12;
    width: 91%;
    font-size: 1.8rem;
    margin-top: 1rem;
    margin-left: 4.5%;
    margin-right: 4.5%;
}
.fixed-success-container .process-status{
    width: 15px;
    min-height: 166px;
}
.fixed-success-container .content-section aside{
    margin-left: 4%;
}
/*------------------------------------------- tyjTicket.html -------------------------------------------*/
.try-cash-container{
    position: relative;
}
.try-cash-container .default_coupon_list{
    position: relative;
    width: 92%;
    display: block;
    margin: 1.4rem 4%;
    height: 14rem;
    background: url("../../images/tiyanjin@3x.png") no-repeat;
    background-size: 100% 100%;
}
.try-cash-container .select_coupon_bg{
    position: relative;
    width: 92%;
    display: block;
    margin: 1.4rem 4%;
    height: 14rem;
    background: url("../../images/tiyanjin@3x.png") no-repeat;
    background-size: 100% 100%;
}
.try-cash-container .selectGou{
    position: absolute;
    width:1.6rem;
    right: 2rem;
    bottom: 1.7rem;
    display: none;
}
.try-cash-container .gouIsShow{
    display: block!important;
}
.try-cash-container .subTitle{
    padding: 1.2rem;
    padding-left: 5%;
    padding-right: 11%;
}
.try-cash-container .details{
    padding: 0 3% 0 5%;
    white-space: nowrap;
}
.try-cash-container .subTitle p:first-child{
    line-height: 1.5rem;
    font-size:1.5rem;
    color:#F66B12;
    text-align:left;
    margin-top: 1rem;
}
.try-cash-container .symbol{
    font-size:3rem;
    line-height: 3rem;
}
.try-cash-container .subTitle p:last-child{
    font-size:3rem;
    color:#F66B12;
    line-height:3rem;
    text-align:left;
}
.try-cash-container .details p{
    font-size:1.1rem;
    line-height: 1.9rem;
    color:#9b9b9b;
    text-align:left;
}
.try-cash-container .details p:first-child span{
    font-size:1.1rem;
    line-height: 1.9rem;
    color:#F66B12;
    text-align:left;
}
.try-cash-container .couponTime{
    width: 4rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}
.try-cash-container .operArea{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:1.5rem;
    line-height: 4.5rem;
    color:#3e3a39;
    text-align:left;
}
.try-cash-container .close-use{
    width: 80%;
    background:#fff;
    height:4.5rem;
}
.try-cash-container .confirmBtn{
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 20%;
}
/*------------------------------------------- rateCoupon.html -------------------------------------------*/
.add-rate-container{
    position: relative;
}
.add-rate-container .default_coupon_list{
    position: relative;
    width: 92%;
    display: block;
    margin: 1.4rem 4%;
    height: 12.3rem;
    background: url("../../images/rate@3x.png") no-repeat;
    background-size: 100% 100%;
}
.add-rate-container .select_coupon_bg{
    position: relative;
    width: 92%;
    display: block;
    margin: 1.4rem 4%;
    height: 12.3rem;
    background: url("../../images/rate@3x.png") no-repeat;
    background-size: 100% 100%;
}
.add-rate-container .subTitle{
     padding: 1.2rem;
    padding-left: 5%;
    padding-right: 11%;
}
.add-rate-container .details{
    padding: 0 3% 0 5%;
    white-space: nowrap;
    margin-top: 0.3rem;
}
.add-rate-container .subTitle p:first-child{
    line-height: 1.5rem;
    font-size:1.5rem;
    color:#81a5a3;
    text-align:left;
    margin-top: 1rem;
}
.add-rate-container .symbol{
    font-size:1.8rem;
    line-height: 1.8rem;
}
.add-rate-container .subTitle p:last-child{
    font-size:3rem;
    color:#81a5a3;;
    line-height:3rem;
    text-align:left;
}
.add-rate-container .details p{
    font-size:1.1rem;
    line-height: 1.9rem;
    color:#9b9b9b;
    text-align:left;
}
.add-rate-container .details p:first-child span{
    font-size:1.1rem;
    line-height: 1.9rem;
    color:#F66B12;
    text-align:left;
}
.add-rate-container .couponTime{
    width: 4rem;
    position: absolute;
    top: 0.1rem;
    right: 0.1rem;
}
.add-rate-container .selectGou{
    position: absolute;
    width:1.6rem;
    right: 2rem;
    bottom: 1.7rem;
    display: none;
}
.add-rate-container .gouIsShow{
    display: block!important;
}
.add-rate-container .operArea{
    position: fixed;
    bottom: 0;
    width: 100%;
    font-size:1.5rem;
    line-height: 4.5rem;
    color:#3e3a39;
    text-align:left;
}
.add-rate-container .close-use{
    width: 80%;
    background:#fff;
    height:4.5rem;
}
.add-rate-container .confirmBtn{
    background:#F66B12;
    height:4.5rem;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.8rem;
    width: 20%;
}

/*------------------------------------------- calculator.html -------------------------------------------*/
.calculator-container {
    position: relative;
}
.calculator-container .cal-earning {
    padding: 3.4rem 15% 4rem 15%;
    background:#4a4a4a;
    width: 70%;
    display: block;
    margin: 0 auto;
}
.calculator-container .cal-earning p:first-child{
    opacity:0.69;
    font-size:1.5rem;
    color:#ffffff;
    letter-spacing:0px;
    text-align:center;
}
.calculator-container .plan-earning-num{
    line-height: 4rem;
    font-size:4rem;
    margin-top: 0.8rem;
    color:#c3b38a;
    text-align: center;
}
.calculator-container .plan-down{
    opacity:0.69;
    line-height: 1.3rem;
    font-size:1.3rem;
    margin-top: 3rem;
    color:#ffffff;
    text-align:center;
}
.calculator-container .verLine{
    margin-left: 10%;
    opacity:0.2;
    /*border:1px solid #ffffff;*/
    width:1px;
    height:4rem;
    background: #fff;
    display: block;
}
.calculator-container .pd-value{
    line-height: 2.4rem;
    font-size:2.4rem;
    margin-top: 0.5rem;
    color:#c3b38a;
    text-align:center;
}
.calculator-container .form-input-box {
    margin-top: 2rem;
    background: #fff;

}

.calculator-container .countNnm {
    font-size:1.5rem;
    line-height: 1.5rem;
    color:#727171;
    text-align:left;
    padding: 1.1rem 1.6rem;
    width: 100%;
    border: none;
    outline: none;
}
/*------------------------------------------- fixed_product_information.html -------------------------------------------*/
.product-info-container {
    position: relative;
}
.product-info-container .pro-intro-block{
    padding: 2.2rem 1.6rem 1.4rem 1.6rem;
}
.product-info-container .pro-intro-block li,.product-info-container .pro-future-profit-block li,.product-info-container .buy-prepare-block li{
    font-size:1.3rem;
    line-height: 2.1rem;
    color:#717071;
    margin-bottom: 0.6rem;
    text-align:left;
}
.product-info-container .pro-future-profit-block{
    padding: 2.2rem 1.6rem 1.4rem 1.6rem;
}
.product-info-container .subtitle{
    font-size:1.5rem;
    line-height: 1.5rem;
    padding: 1rem 0;
    text-indent: 1.6rem;
    color:#4a4a4a;
    text-align:left;
    background:#f2f2f2;
}
.product-info-container .buy-prepare-block{
    padding: 2.2rem 1.6rem 1.4rem 1.6rem;
}
.product-info-container .foreclose-block{    padding: 2.2rem 1.6rem 1.4rem 1.6rem;}
.product-info-container .foreclose-block p{
    font-size:1.3rem;
    color:#717071;
    line-height:2.1rem;
    text-align:left;
}
/*------------------------------------------- invest_record.html -------------------------------------------*/
.invest-record-container{
    position: relative;
}
.record_table{
    background:#f2f2f2;
    font-size:1.3rem;
    line-height: 1.3rem;
    color:#4a4a4a;
    text-align:left;
    padding: 1rem 1.6rem;
}
.record_table span:nth-child(2){
    padding-left: 28%;
}
.record_table span:last-child{
    padding-left: 20%;
}
.record_list{
    font-size:1.2rem;
    color:#717071;
    line-height:1.2rem;
    padding: 1.5rem 1.6rem 1.9rem 1.6rem;
    text-align:left;
    border-bottom: solid 1px #e6e6e6;
}
.record_list p:first-child{
    width: 40%;
}
.record_list p:nth-child(2){
    width: 20%;
}
.record_list p:last-child{
    width: 40%;
}
.record_list span:first-child{
    padding: 0!important;
}
