/*------------------------------------------- login.html -------------------------------------------*/
.user-common-container{
    position: relative;
    overflow-x: hidden;
    background:#ffffff;
}

.user-common-container {
  height: 100vh;
}
.user-common-container section{
    padding: 0 90px;
}
.user-common-container section .logo{
    margin: 5.7rem auto;
    width: 15.4rem;
}
.user-common-container .regLink{
    font-size:15px;
    color:#4a4a4a;
}
.user-common-container .form-input-box{
    position: relative;
    border:1px solid #F66B12;
    /*height:4rem;*/
    margin-top: 1.2rem;
}

.user-common-container .form-input-label{
    font-size:15px;
    color:#9b9b9b;
    text-align:left;
}

.user-common-container .form-input-error{
    font-size:1.2rem;
    color:#AF5C46;
    text-align:left;
    margin-top: 5.7rem;
    height: 1.5rem;
    line-height: 1.5rem;
   /* display: none;*/
}
.user-common-container .form-label{
    position: absolute;
    color:#717071;
    left: 1.2rem;
    line-height: 4rem;
    font-size:1.5rem;
}
.user-common-container input{
    font-size:1.5rem;
    /*line-height: 4rem;*/
    padding: 1rem 0;
    text-indent: 27%;
    color:#727171;
    text-align:left;
    border: none;
    width: 100%;
}
#user-login-container input{
    text-indent: 18%
}
.user-common-container .editPwd{
	font-size:1.5rem;
    /*line-height: 4rem;*/
    padding: 1rem 0;
    text-indent: 5%;
    color:#727171;
    letter-spacing:1px;
    text-align:left;
    border: none;
    width: 100%;
}

.user-common-container .alertSuc{
	width: 80%;
	height: 4rem;
	background-color: dimgrey;
	color: white;
	font-size: 1.8rem;
	text-align: center;
	margin: auto;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	line-height: 4rem;
	position: absolute;
	margin-left: 10%;
	margin-right: 10%;
	border-radius: 0.5rem;
}

.user-common-container .alertSucFloat{
	width: 100%;
    height: 100%;
    z-index: 999;
    position: absolute;
    top: 0;
    display: none;
}

.user-common-container .loginBtn{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size:15px;
    color:#ffffff;
    margin-top: 1rem;
    background:#868c90;
}
#user-resetPsw-container .loginBtn {
  background-color: #F66B12;
}
.user-common-container .loginRule{
    padding: 0 16px;
    margin-top: 4rem;
    clear: both;
    font-size:1.2rem;
    color:#717071;
    letter-spacing:0.4px;
}
.user-common-container .resetPsw{
    color:#e54d46;
}
.user-common-container .forgetPsw{
    margin-top: 0.9rem;
    font-size:1.2rem;
    color:#F66B12;
    line-height:2.1rem;
    text-align:center;
}
.user-common-container .switch{
    position: absolute;
    right: 1.1rem;
    width: 1.5rem;
    top: 1.2rem;
}
.user-common-container .switch img{
    width: 100%;
}
/*.user-common-container .eyeClose,.user-common-container  .eyeOpen{*/
    /*position: absolute;*/
    /*right: 1.1rem;*/
    /*width: 1.5rem;*/
    /*top: 1.7rem;*/
/*}*/
/*------------------------------------------- reg.html -------------------------------------------*/
.user-common-container{
    position: relative;
}
.user-common-container .form-bind-wechat{
    /*margin: 2rem;*/
    font-size:1.5rem;
    line-height: 3rem;
    color:#717071;
    text-align:left;
    text-indent: 0.5rem;
}
.user-common-container .imgCodeLink{
    position: absolute;
    right:  0;
    top: 0;
}
.user-common-container .imgCode {
    width: 9.2rem;
}
.user-common-container .sendBtn{
    position: absolute;
    width:6rem;
    height:3.66rem;
    line-height: 3.66rem;
    font-size:1.2rem;
    color:#ffffff;
    text-align:center;
    right:  0;
    top: 0;
}
.user-common-container .sendBtn-default-Bg{
    background:#F66B12;
}
.user-common-container .sendBtn-disabled-Bg{
    background:#c8c9ca!important;
}
.user-common-container .form-recommend{
    margin-top: 17px;

}
.user-common-container .form-recommend img{
    width: 8px;
}
.user-common-container .form-recommend span{
    padding-left: 1rem;
    font-size:15px;
    color:#717071;
}
.user-common-container .form-agreement{
    margin-top: 10rem;
    font-size:15px;
    color:#717071;
    text-align:left;
}
.user-common-container .regBtn{
    width: 100%;
    height: 4rem;
    line-height: 4rem;
    text-align: center;
    font-size:15px;
    color:#ffffff;
    margin-top: 1.1rem;
    background:#868c90;
}
.user-common-container .platformContract{
    color: #F66B12;
}
.ar-btns button:first-child{
    width: 46%;
    height: 4.5rem;
    background:#4a4a4a;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
}
.ar-btns button:last-child{
    width: 46%;
    height: 4.5rem;
    background:#e54d46;
    line-height: 4.5rem;
    text-align: center;
    color: #fff;
    font-size: 1.5rem;
    display: inline-block;
}
.already-register p{
    font-size:1.6rem;
    color:#4a4a4a;
    line-height:1.6rem;
    padding: 3rem 0 2.8rem 0;
    text-align:center;
}
.platform_article{
    padding:3px 10px 15px 10px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    display: none;
}
.platform_article .contractSection,.platform_article .pa-paragraph{
    padding-top: 1rem;

}
.platform_article .pa-paragraph p{
    padding-top: 1rem;
}
#user-payPassword-container .title {
  font-size: 30px;
  margin-top: 12px;
  color: #212629;
}
#user-payPassword-container .password-form {
  width: 300px;
  margin: 40px auto;
  position: relative;
}
#user-payPassword-container .password-form .password {
  font-size: 30px;
  width: 100%;
  letter-spacing: 37px;
  text-indent: 20px;
  margin-bottom: 10px;
}
#user-payPassword-container .password-form .dashed {
  display: block;
  width: 100%;;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: 21%;
}
#user-payPassword-container .submit {
  width: 90%;
  height: 4rem;
  line-height: 4rem;
  text-align: center;
  font-size: 15px;
  color: #fff;
  background: #F66B12;
  margin: auto;
  position: fixed;
  bottom: 20px;
}
#user-payPassword-container .tips {
  font-size: 15px;
  color: #767A7C;
  margin-top: 70px;
}
