/*------------------------------------------- reg.html -------------------------------------------*/
.user-common-container{
    position: relative;
    overflow-x: hidden;
    background:#ffffff;
}

.user-common-container {
  height: 100vh;
}
.user-common-container section{
    padding: 0 90px;
}
.user-common-container section .logo{
    margin: 90px auto 60px;
    width: 157px;
}
.user-common-container .regLink{
    font-size:15px;
    color:#4a4a4a;
}
.user-common-container .form-input-box{
    position: relative;
    border-bottom:1px solid #bcbcbc;
    margin-bottom: 20px;
}

.user-common-container .form-input-label{
    color:#9b9b9b;
    text-align:left;
}

.user-common-container .form-input-error{
    color:#AF5C46;
}
.user-common-container .form-label{
    position: absolute;
    width: 60px;
    left: -12px;
    top: 0;
}
.user-common-container input{
    font-size:28px;
    margin: 14px 0;
    text-indent: 13%;
    color:#787878;
    text-align:left;
    border: none;
    width: 100%;
}
.user-common-container .sendBtn{
    position: absolute;
    width:160px;
    height:44px;
    line-height: 44px;
    font-size:1.2px;
    color:#ffae00;
    border: 1px solid #ffae00;
    text-align:center;
    right:  0;
    top: 0;
}
.user-common-container .sendBtn-default-Bg{
    background-color:transparent;
}
.user-common-container .sendBtn-disabled-Bg{
    background:#c8c9ca!important;
    color: #333333;
    border: none;
}

.user-common-container .form-agreement{
    margin-top: 72px;
    font-size:26px;
    color:#787878;
    position: relative;
    left: -12px;
}
.user-common-container .form-agreement .form-agreement-img {
    width: 60px;
    height: 60px;
    display: inline-block;
    vertical-align: middle;
}
.user-common-container .form-agreement .no-agreement {
    border: 2px solid #00bc71;
    width: 36px;
    height: 36px;
    margin: 10px;
    border-radius: 100px;
}
.user-common-container .regBtn{
    width: 100%;
    height: 88px;
    line-height: 88px;
    text-align: center;
    font-size:15px;
    color:#ffffff;
    margin-top: 54px;
    background:#00bc71;
}
.user-common-container .tips {
    text-align: center;
    font-size: 28px;
    margin-top: 54px;
}
.user-common-container .tips a {
    color: #787878;
}
.user-common-container a.doctor-reg {
    color: #00bc71;
}
.user-common-container .platform-contract {
    color: #00bc71;
}
.overlay {
    position: absolute;
    width: 100%;
    left: 0;
    background-color: #fff;
    top: 0;
    height: 100%;
    overflow: scroll;
}
