/*----------------------------------------------------------index.html---------------------------------------------------*/
.oldAsset-index-container{
    position: relative;
}
.oldAsset-index-container .notification {
    background:#81a5a3;
    line-height: 1.5rem;
    font-size:1.5rem;
    color:#ffffff;
    text-align:left;
    text-indent: 1rem;
    padding: 0.6rem 0;
    white-space: nowrap;
}

.oldAsset-index-container .account-name {
    padding: 1.1rem 1.4rem 1.1rem 2rem;
    border-bottom: solid 1px #e6e6e6;
    background:#fff;
}
.oldAsset-index-container .account-name p{
    line-height: 1.7rem;
    font-size:1.5rem;
    color:#4a4a4a;
}
.oldAsset-index-container .checkAssetBtn {
    font-size:1.3rem;
    line-height: 1.7rem;
    color:#F66B12;
    text-align:left;
    margin-right: 1.4rem;
}
.oldAsset-index-container .account-name img{
    width: 0.6rem;
}

.oldAsset-index-container .account-value {
    background:#fff;
    padding: 2rem 1.4rem 2.8rem 2rem;
}

.oldAsset-index-container .accountNum span{
    font-size:2.4rem;
    line-height: 2.4rem;
    color:#F66B12;
}


.oldAsset-index-container .question {
    width: 1.4rem;
    padding-left: 1rem;
    margin-bottom: 2rem;
}

.oldAsset-index-container .withdrawBtn {
    background:#F66B12;
    width:7.8rem;
    height:2.8rem;
    line-height: 1.5rem;
    font-size:1.5rem;
    text-align: center;
    color:#ffffff;
    margin-right: 1.6rem;
}

.oldAsset-index-container .myAccount {
    padding: 1.6rem 0 2.2rem 0;
    margin-top: 1rem;
    background: #fff;
}
.oldAsset-index-container .myAccount .subTitle{
    font-size:1.5rem;
    line-height: 1.5rem;
    color:#4a4a4a;
    text-align:center;
    margin-top: 1.6rem;
}
.oldAsset-index-container .ma-content {
    margin-top: 1.9rem;
    width: 86%;
    margin-left: auto;
    margin-right: auto;
}
.oldAsset-index-container .ma-content .f-fl p:first-child,.oldAsset-index-container .ma-content .f-fr p:first-child{
    opacity:0.69;
    line-height: 1.3rem;
    font-size:1.3rem;
    color:#717071;
    text-align:left;
    margin-bottom: 0.7rem;
}
.oldAsset-index-container .ma-content .f-fl p:last-child,.oldAsset-index-container .ma-content .f-fr p:last-child{
    opacity:0.69;
    line-height: 2.4rem;
    font-size:2.4rem;
    color:#F66B12;
    text-align:center;
}
/*----------------------------------------------------------sina_Step2.html---------------------------------------------------*/
.sina-step2-container{
    position: relative;
}
.form-section{
    padding: 2.4rem 0 0 1.6rem;

}
.form-section p{
    font-size:1.5rem;
    line-height: 1.5rem;
    color:#717071;
    letter-spacing:0px;
    margin-bottom: 2.2rem;
}
.setPsw{
    margin-top: 14rem;
}
.setPsw p{
    font-size:1.3rem;
    line-height: 1.3rem;
    color:#F66B12;
    letter-spacing:0px;
    line-height:1.3rem;
    text-align:center;
}
.setPswBtn{
    margin-top: 1.5rem;
    width: 92%;
    margin-left:auto;
    margin-right: auto;
    background:#F66B12;
    font-size:1.8rem;
    line-height: 1.8rem;
    text-align: center;
    color:#ffffff;
    letter-spacing:0px;
    padding: 1rem 0;
    display: block;
}