<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>源码汇</title>
    <link rel="stylesheet" href="../../css/base-2d86f7d6c5.css">
    <link rel="stylesheet" href="../../css/user/user-eb78c54fbe.module.css">
</head>
<body>
    <article class="user-common-container" id="user-fPsw-container">
        <header class="f-cb">
            <a href="javascript:history.go(-1)" class="f-fl">
                <img src="../../img/back.png" alt="" class="returnArrow">
            </a>
            <span>找回登录密码</span>
        </header>
        <section>
            <div class="form-input-box">
                <label class="form-label">账号</label>
                <input class="phoneNum" type="tel" placeholder="请输入手机号" v-model="mobile">
            </div>
            <div class="form-input-box">
                <label class="form-label">验证码</label>
                <input class="verifiyCode" type="text" placeholder="请输入图形验证码" v-model="imgCodeText">
                <a href="javascript:;" class="imgCodeLink" v-on:click="getImgCode">
                    <img v-bind:src="imgData" class="imgCode" alt="">
                </a>
            </div>
            <button class="loginBtn" v-on:click="verifiyCode">下一步</button>
        </section>
    </article>
    <script src="../../js/user/forgetPsw-b583710ce3.js"></script>

</body>
</html>
