<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>源码汇</title>
    <link rel="stylesheet" href="../../css/base-56c273db45.css">
    <link rel="stylesheet" href="../../css/user/user-72d243c7ab.module.css">
</head>
<body>
    <article class="user-common-container" id="user-payPassword-container">
        <header class="f-cb">
            <a href="javascript:history.go(-1)" class="f-fl">
                <img src="../../img/back.png" alt="" class="returnArrow">
            </a>
            <span></span>
        </header>
        <section>
            <h2 class="title" v-if="pageType == 'setpsd'">设置交易密码</h2>
            <h2 class="title" v-if="pageType == 'resetpsd'">修改交易密码</h2>
            <h2 class="title" v-if="pageType == 'idresetpsd'">设置新交易密码</h2>
            <div class="tips">{{ tips }}</div>
            <div class="password-form">
  						<input class="password" type="password" v-model="password1" maxlength="6" v-if="step == 1">
              <input class="password" type="password" v-model="password2" maxlength="6" v-else>
  						<img src="../../img/new/dashed.png" class="dashed" />
  					</div>
            <div class="submit" @click="submit">{{ btnText }}</div>
        </section>
    </article>
    <script src="../../js/user/forgetPayWord-1c5136e088.js"></script>

</body>
</html>
