<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <link rel="stylesheet" href="../../css/base-861d46e78e.css">
  <link rel="stylesheet" href="../../css/user/user-46db179c72.module.css">
  <title>源码汇</title>
</head>

<body>
  <article class="user-common-container" id="user-login-container">
    <header class="f-cb">
      <a href="#" class="f-fl" @click="goBack">
            <img src="../../img/back.png" alt="" class="returnArrow">
        </a>
      <span class="pageTitle">登录</span>
      <a href="reg.html" class="rtLink f-fr">注册</a>
    </header>
    <section>
      <div class="form-bind-wechat f-cb" id="checkbox_open">
        <p class=" f-fl">注册并绑定账号</p>
        <input type="checkbox" id="checkbox-10-1" @click="bindWechat" /><label for="checkbox-10-1" class="f-fr" style="margin-right: 0"></label>
      </div>
      <div class="form-input-box">
        <label class="form-label">账号</label>
        <input class="phoneNum" type="tel" placeholder="请输入手机号" v-model="mobile">
      </div>
      <div class="form-input-box">
        <label class="form-label">密码</label>
        <input class="password" :type="type" placeholder="请输入登录密码" v-model="passwd">
        <a href="javascript:;" class="switch" @click="psSwitch">
                <img src="../../img/eyelash_assets.png" class="eyeClose" alt="" v-show="!pswDisplay">
                <img src="../../img/eye_assets.png" class="eyeOpen" style="display: none;" alt="" v-show="pswDisplay">
            </a>
      </div>
      <button id="loginBtn" class="loginBtn" v-on:click="login" disabled="true">登录</button>
      <!-- <a href="forgetPsw.html" class="forgetPsw f-fr">忘记登录密码？</a> -->
    </section>
    <!-- <div class="loginRule">
        为了保障您的账户安全，平台对登陆密码进行升级处理，密码设置必须为6~16位数字或字母组成，不符合新密码规则的用户请
        <a href="resetPsw.html" class="resetPsw">修改登录密码</a>
    </div> -->
  </article>
</body>
<script src="../../js/user/login-a577d9b5f6.js"></script>

</html>
