<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>注册</title>
    <link rel="stylesheet" href="../../css/base-56c273db45.css">
    <link rel="stylesheet" href="../../css/user/user-d692351bd6.module.css">
</head>

<body>
    <article class="user-common-container" id="user-register-container">
        <section>
            <div class="logo">
                <img src="../../img/logo.png" alt="" class="full-img">
            </div>
            <div class="form-input-box">
                <label class="form-label"><img src="../../img/login-phone.png" alt="" class="full-img"></label>
                <input class="phoneNum" type="tel" placeholder="输入手机号码" maxlength="11" v-model="mobile">
            </div>
            <div class="form-input-box">
                <label class="form-label"><img src="../../img/login-mscode.png" alt="" class="full-img"></label>
                <input class="msgCode" type="text" placeholder="短信验证码" v-model="smsValue">
                <button id="sendBtn" class="sendBtn" v-bind:class="{ 'sendBtn-default-Bg': bgStatus, 'sendBtn-disabled-Bg': !bgStatus}" v-on:click="sendSms" v-bind="{ disabled: disableAttr}" v-html="sendTxt" disabled="true"></button>
            </div>
            <div class="form-agreement">
                <p>
                    <span class="form-agreement-img no-agreement" v-if="!isAgreement" @click="isAgreement=true"></span>
                    <img v-else src="../../img/login-agree.png" alt="" class="form-agreement-img" @click="isAgreement=false">
                    <span>点击提交即表示同意</span>
                    <a href="javascript:;" class="platformContract" @click="maskShow=true">《用户服务协议》</a>
                </p>
            </div>
            <button id="regBtn" class="regBtn" >确认注册</button>
            <div class="tips">
                <a class="doctor-reg" href="#">医生注册</a>
                <a href="#">| 忘记密码</a>
            </div>
        </section>
        <article class="platform-article" v-if="maskShow" @click="maskShow=false">
            <p>23423423</p>
            <p>23423423</p>
            <p>点击关闭</p>
        </article>
    </article>
    
    <script src="../../js/user/reg-bc8bd78f27.js"></script>
</body>

</html>
