<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>注册</title>
    <link rel="stylesheet" href="../../css/base-2d86f7d6c5.css">
    <link rel="stylesheet" href="../../css/user/user-eb78c54fbe.module.css">
</head>

<body>
    <article class="user-common-container" id="user-register-container">
        <section>
            <div class="logo">
                <img src="../../img/logo.png" alt="" class="full-img">
            </div>
            <div class="form-bind-wechat f-cb">
                <p class=" f-fl">注册并绑定账号</p>
                <input type="checkbox" id="checkbox-10-1" @click="bindWechat" /><label for="checkbox-10-1" class="f-fr" style="margin-right: 0"></label>
            </div>
            <div class="form-input-box">
                <label class="form-label">手机号</label>
                <input class="phoneNum" type="tel" placeholder="请输入手机号" maxlength="11" v-model="mobile">
            </div>
            <div class="form-input-box">
                <label class="form-label">设置密码</label>
                <input class="password" :type="type" placeholder="请输入6-16位数字和字母" v-model="password">
                <a href="javascript:;" class="switch" v-on:click="psSwitch">
                <img src="../../img/eyelash_assets.png" class="eyeClose" alt="" v-show="!pswDisplay">
                <img src="../../img/eye_assets.png" class="eyeOpen" style="display: none;" alt="" v-show="pswDisplay">
            </a>
            </div>
            <div class="form-input-box">
                <label class="form-label">验证码</label>
                <input class="verifiyCode" type="text" placeholder="请输入图形验证码" v-model="imgCodeText">
                <a href="javascript:;" class="imgCodeLink" v-on:click="getImgCode">
                <img v-bind:src="imgData" class="imgCode" alt="">
            </a>
            </div>
            <div class="form-input-box">
                <label class="form-label">短信验证码</label>
                <input class="msgCode" type="text" placeholder="请输入短信验证码" style="text-indent: 9rem;" v-model="smsValue">
                <button id="sendBtn" class="sendBtn" v-bind:class="{ 'sendBtn-default-Bg': bgStatus, 'sendBtn-disabled-Bg': !bgStatus}" v-on:click="sendSms" v-bind="{ disabled: disableAttr}" v-html="sendTxt" disabled="true"></button>
            </div>
            <div class="form-agreement">
                <p>点击下一步代表您同意
                    <!--<a href="http://www.51vest.com/register_agreement/index.html" class="platformContract">《平台服务协议》</a>-->
                    <a href="javascript:;" class="platformContract" @click="showContract">《平台服务协议》</a>
                </p>
            </div>
            <button id="regBtn" class="regBtn" v-on:click="verifiyCode" disabled="true">确认注册</button>
        </section>
        <div id="maskBg" class="maskBg" v-show="maskShow"></div>
        <!--<aside class="commonWin already-register" v-show="ar_winShow">-->
        <!--<p>手机号已被注册，请直接登录</p>-->
        <!--<div class="f-cb ar-btns">-->
        <!--<button class="cancelBtn f-fl">取消</button>-->
        <!--<button class="confirmBtn f-fr">登录</button>-->
        <!--</div>-->
        <!--</div>-->
        <!--</aside>-->
        <article style="padding:3px 10px 15px 10px;" class="platform_article">
            <header class="f-cb">
                <a href="javascript:;" class="f-fl" @click="toReg">
                <img src="../../img/back.png" alt="" class="returnArrow">
            </a>
                </a>
                <span class="title">源码汇平台服务协议</span>
            </header>
            <section class="contractSection" style="font-size:1.4rem; color:#9B9B9B; line-height: 1.8rem;">
                <div class="platform-intro">源码汇平台服务协议(以下简称"本协议")是上海景源金融信息服务有限公司(以下简称"本公司")与平台用户(以下简称"您", 包括投资人与募资人)就理财平台服务相关事项所订立的有效合约。您通过网络页面(包含但不仅限于网页、App客户端、微信等)点击确认或以其他方式(包括但不限于签字或签章确认等方式)接受本协议, 即表示您与本公司已达成协议并同意接受本协议的全部约定内容以及与本协议有关的各项规则及本公司网站所包含的其他与本协议或本协议项下各项规则的条款和条件有关的各项规定。<br/>                    在接受本协议之前, 您应在仔细阅读、充分理解并完全接受本协议的全部条款及各类规则(特别是以粗体下划线标注的内容)后方能勾选位于注册页面下方的"我已阅读并同意《理财平台服务协议》"选项, 并按照流程注册, 本协议在您注册成功时即产生法律效力。如果您不同意本协议的任意内容, 或者无法准确理解该条款的含义, 请不要进行后续操作。</div>
                <div class="pa-paragraph">
                    <p>一. 相关定义</p>
                    <p>除非本协议另有约定, 本协议术语定义如下：</p>
                    <p>1. 理财平台：指源码汇平台, 即由本公司开发并运营的, 向您提供投融资信息(含金融产品信息)发布与管理、投融资产品交易管理、交易资金结算(由第三方支付机构提供)等服务的金融信息中介服务平台。该平台的网址为：www.51vest.com , 及本公司根据业务需要不时修改的网址。</p>
                    <p>2. 投资人：指通过理财平台进行投资的自然人或法人。</p>
                    <p>3. 募资人：指直接或间接在理财平台发布融资信息、并在满足本协议约定条件时获得融资款项的自然人或法人, 包括但不限于金融机构、有限合伙企业或借入人等。</p>
                    <p>4. 理财平台用户：指投资人与募资人, 简称"平台用户"。</p>
                    <p>5. 支付机构：指为平台用户提供交易资金划转、交易查询等服务的机构。本协议项下提供上述服务的机构为北京新浪支付科技有限公司(以下简称"新浪支付")。</p>
                    <p>6. 平台账户：指您申请注册的, 用以接受新浪支付提供的查询、划转本协议项下投融资交易款项等交易资金结算服务的账户。</p>
                </div>
                <div class="pa-paragraph">
                    <p>二. 注册用户的身份限制</p>
                    <p>2.1 作为理财平台的个人用户, 您必须是中华人民共和国("中国", 为本协议之目的, 不包括香港特别行政区、澳门特别行政区及台湾地区)大陆公民, 拥有中国大陆有效身份证件, 年龄在18周岁以上, 且具有完全的民事权利能力及民事行为能力。作为理财平台的法人用户, 您必须具备中国法人主体身份, 拥有中国大陆有效营业执照证件, 具备真实、合法、独立的民事权利能力及民事行为能力。如不具备上述资格, 您应立即停止在理财平台上的注册程序、停止使用理财平台服务, 理财平台有权不经通知而随时终止您的注册进程及理财平台服务,
                        您应对您的注册给理财平台带来的损失承担全额赔偿责任, 且您的监护人(如您为限制民事行为能力人或无民事行为能力人)应承担连带责任。</p>
                    <p>2.2 您在使用源码汇服务时, 应自行判断交易对方是否具有完全民事行为能力并自行决定是否使用源码汇服务与对方进行交易, 且您应自行承担与此相关的所有风险。</p>
                </div>
                <div class="pa-paragraph">
                    <p>三. 声明与承诺</p>
                    <p>1. 在理财平台进行交易应采用电子合同方式订立合同。平台用户使用平台账户登录理财平台后, 根据理财平台的相关规则, 以平台账户在理财平台通过点击确认或类似方式签署的电子合同即视为平台用户本人真实意愿并以注册平台用户名义签署的合同, 具有法律效力。平台用户应妥善保管自己的账户密码等账户信息, 平台用户通过前述方式订立的电子合同对合同各方具有法律约束力, 平台用户不得以其账户密码等账户信息被盗用或其他理由否认已订立的合同的效力或不按照该等合同履行相关义务。</p>
                    <p>2. 除应遵守本协议约定外, 您还应遵守《新浪支付快捷支付服务协议》及平台制定的相关规则等约定, 特别是在前述协议中关于个人信息更新、平台账户安全、新浪支付服务使用规则等方面的约定。</p>
                    <p>3. 您承诺不为任何非法目的或以任何非法方式使用理财平台服务, 并承诺遵守中国相关法律、法规及互联网之使用惯例。</p>
                    <p>4. 您同意, 在交易申请提交后或以其他方式达成交易后, 您不得变更、撤回或撤销本交易, 但本协议另有约定或您签署的其他协议另有约定的除外。</p>
                    <p>5. 您承诺, 无论您是否直接在理财平台发布投融资信息, 您都应按照本协议的约定履行相关义务。</p>
                    <p>6. 您明白并同意本协议是您与本公司签订的, 不因理财平台名称变更而改变您与本公司的权利义务分配; 且您同意本公司变更理财平台名称并继续按照本协议约定履行相应的权利义务。</p>
                    <p>7. 您同意, 即便您已符合本协议约定的条件, 投融资交易的实现仍受制于其他因素, 理财平台对此不作任何可实现的承诺。</p>
                    <p>8. 您同意, 理财平台有权限制您的投资资金渠道, 具体以可在理财平台使用的资金渠道为准。</p>
                </div>
                <div class="pa-paragraph">
                    <p>四. 理财平台服务</p>
                    <i>本公司提供的理财平台服务包括如下内容：</i>
                    <p class="subTwo-class-title">投融资信息展示</p>
                    <p>4.1.1 您可以直接或者间接在理财平台发布投融资信息, 具体以理财平台设定的流程为准。前述投融资信息一旦发布后, 非经源码汇的书面同意, 不得变更、撤回或撤销。</p>
                    <p>4.1.2 理财平台仅为募资人向投资人展示投融资信息, 若因上述融资信息错误致使投资人或募资人产生损失, 理财平台不承担任何责任。投融资交易提供</p>
                    <p class="subTwo-class-title">投融资交易提供</p>
                    <p>理财平台将会仅根据您的意思表示, 向您展示符合您设定条件的交易机会, 并不对投融资交易进行任何干预。具体如下：</p>
                    <p>4.2.1 购买</p>
                    <p>4.2.1.1 您作为募资人可以通过理财平台直接或间接发布融资信息, 并在满足特定条件后, 即与投资人达成交易。</p>
                    <p>4.2.1.2 您作为投资人可以通过理财平台对发布金融产品或融资信息的特定交易对手作出达成交易的意思表示, 该意思表示一经系统确认后即视为交易申请已提交, 对此您不持异议。</p>
                    <p class="subTwo-class-title">交易资金结算</p>
                    <p>4.3.1 根据相关法律法规及监管规定的要求, 您在理财平台产生的所有资金结算通过新浪支付处理。理财平台不承担交易资金结算义务, 也不承担因交易资金结算而产生的一切损失。您应保证您的平台账户或其他指定账户状态正常并确保足额的交易资金以便正常划转。因前述原因导致交易无法实现的, 所有损失由您自行承担。</p>
                    <p>4.3.2 理财平台不对交易资金到账时间做任何承诺, 也不承担与此相关的任何责任, 包括但不限于由此产生的利息、货币贬值等损失。</p>
                    <p>4.3.3 因系统故障或其他原因导致的处理错误, 理财平台都有权在根据本协议规定通知您后纠正该错误, 且不承担因前述处理错误而导致的任何损失或责任(包括您可能因前述错误导致的利息、汇率等损失)。</p>
                    <p class="subTwo-class-title">到期偿付</p>
                    <p>4.4.1 理财平台不承担到期偿付及其相关的任何义务, 即在您所选购的产品或服务到期时, 您同意接受募资人向您支付与所选购产品或服务 等额对价的资金。该资金将默认存储在您的平台账户中。</p>
                    <p>4.4.2 自到期偿付之日起, 您将不再享有对应基金份额或产品的收益及其他相关的任何权利。</p>
                    <p class="subTwo-class-title">服务费、管理费</p>
                    <p>您在使用理财平台服务时, 理财平台有权向您收取一定的服务费、管理费。服务费、管理费的收取标准以理财平台展示或您与理财平台的约定为准, 理财平台有权单方面调整上述费用的权利, 但须提前进行通知。上述通知构成了本协议的有效补充, 具有同等法律效力。在通知之日起, 如您继续使用本服务的, 即视为您同意理财平台按照调整后的收费标准向您收取服务费用; 否则您应立即停止使用理财平台服务。</p>
                </div>
                <div class="pa-paragraph">
                    <p>五. 风险提示</p>
                    <p>您知晓并同意, 您通过理财平台所从事的交易可能面临如下风险, 理财平台将积极响应您的要求减少风险, 但该些风险需由您自行承担：</p>
                    <p>5.1.1 监管风险：有关法律、法规及相关政策、规则发生变化, 导致无法实现您的投融资交易, 您由此可能遭受损失; </p>
                    <p>5.1.2 虚假风险：理财平台并不保证交易各方在平台上发布的信息的真实性，因虚假信息，您由此可能遭受损失；</p>
                    <p>5.1.3 违约风险：因您的交易对手无力或无意愿按时足额履约, 您由此可能遭受损失; </p>
                    <p>5.1.4 预期收益风险：您所投资的交易因特定原因无法实现预期收益, 您由此无法获得更多收益; </p>
                    <p>5.1.5 成交风险：您所发布的投融资交易可能无法最终达成, 您由此无法获得收益或融资。</p>
                    <p>5.1.6 本协议约定的不可抗力因素导致的风险;</p>
                    <p>5.1.7 因您的过错导致的任何损失, 该过错包括但不限于：决策失误、操作不当、遗忘或泄露支付宝账户密码、密码被他人破解、您使用的计算机系统被第三方侵入、您委托他人代理交易时他人恶意或不当操作而造成的损失。</p>
                    <p>1. 本公司不对您及/或任何交易提供任何担保或条件, 无论是明示、默示或法定的。理财平台向您提供的各种信息及资料仅为参考, 您应依其独立判断做出决策。您据此进行交易的, 产生的风险由您自行承担, 您无权据此向本公司提出任何法律主张。在交易过程中, 您与交易对手(包括但不限于募资人、第三方支付机构)之间发生的纠纷, 由纠纷各方自行解决, 理财平台不承担任何责任。</p>
                    <p>2. 以上并不能揭示您通过本公司进行交易的全部风险及市场的全部情形。您在做出交易决策前, 应全面了解相关交易, 谨慎决策, 并自行承担全部风险。</p>
                </div>
                <div class="pa-paragraph">
                    <p>六. 不可抗力因素</p>
                    <p>理财平台因下列状况无法正常运作, 使您无法使用理财平台服务时, 理财平台不承担损害赔偿责任, 该状况包括但不限于：</p>
                    <p>1. 理财平台公告的系统停机维护期间; </p>
                    <p>2. 理财平台所依赖的电信设备出现故障不能进行数据传输的; </p>
                    <p>3. 因台风、地震、海啸、洪水、停电、战争、恐怖袭击等不可抗力之因素, 造成招财宝平台系统障碍不能执行业务的; </p>
                    <p>4. 由于黑客攻击、电信部门技术调整或故障、网站升级、其他第三方的问题等原因而造成的服务中断或者延迟。</p>
                </div>
                <div class="pa-paragraph">
                    <p>七. 信息收集、使用、共享与保护</p>
                    <p>收集您的信息</p>
                    <p>7.1.1 为了更好地向您提供理财平台服务, 您同意并授权理财平台通过以下途径获取您的信息：</p>
                    <p>7.1.1.1 收集您留存在理财平台的关联公司处的信息;</p>
                    <p>7.1.1.2 收集您留存在理财平台合作伙伴(包括但不限于小额贷款公司、担保公司、证券机构、银行等, 下同)处的信息; </p>
                    <p>7.1.1.3 向行政机关、司法机关查询、打印、留存您的信息; </p>
                    <p>7.1.1.4 向合法留存您信息的自然人、法人以及其他组织收集您的信息。</p>
                    <p>7.1.1.5 收集您留存在理财平台的关联公司处的信息; </p>
                    <p>7.1.2 您同意并授权理财平台收集您的信息包括但不限于：</p>
                    <p>7.1.2.1 您的身份信息, 包括但不限于姓名/名称、证件号码、证件类型、住所地、电话号码、新浪支付账户认证信息以及其他身份信息; </p>
                    <p>7.1.2.2 您在申请、使用理财平台服务时所提供以及形成的任何数据和信息; </p>
                    <p>7.1.2.3 您在理财平台关联公司和合作伙伴处中留存以及形成的任何数据和信息, 包括但不限于您的新浪支付账户和/或银行账户信息、您在理财平台上形成的任何信息和数据、您与理财平台的关联公司、合作伙伴之间存在的任何协议及您在该等协议项下的履约情况、您在理财平台的关联公司其他服务平台上的行为数据; </p>
                    <p>7.1.2.4 您的信用信息, 包括但不限于您的征信记录和信用报告; </p>
                    <p>7.1.2.5 您的财产信息, 包括但不限于您的店铺/企业经营状况、财税信息、房产信息、车辆信息、基金、保险、股票、信托、债券等投资理财信息和负债信息等; </p>
                    <p>7.1.2.6 您在行政机关、司法机关留存的任何信息, 包括但不限于户籍信息/工商信息、诉讼信息、执行信息和违法犯罪信息等;</p>
                    <p>7.1.2.7 与您申请或使用的理财平台服务相关的、您留存的其他自然人、法人和组织的其他相关信息。</p>
                    <p>使用您的信息</p>
                    <p>为了更好地为您提供服务, 也为了理财平台自身的风险防控, 您同意并授权理财平台将您的信息用于如下用途：</p>
                    <p>7.2.1 创建数据分析模型, 为您提供适合于您的服务, 并维护、改进这些服务; </p>
                    <p>7.2.2 比较信息的准确性并与第三方进行验证; </p>
                    <p>7.2.3 为使您知晓理财平台服务情况或了解理财平台服务, 通过电子邮件、源码汇系统消息手机短信和传真等方式向您发送服务状态的通知、营销活动及其他商业性电子信息; </p>
                    <p>7.2.4 预防或阻止非法的活动; </p>
                    <p>7.2.5 经您许可的其他用途。</p>
                    <p>分享您的信息</p>
                    <p>理财平台对您的信息承担保密义务, 不会为满足第三方的营销目的而向其出售或出租您的任何信息, 仅在下列情况下才将您的信息与第三方共享</p>
                    <p>7.3.1 获得您的同意或授权; </p>
                    <p>7.3.2 为了向您提供或推荐理财平台的关联公司的服务和/或产品的需要, 将您的信息提供给理财平台的关联公司使用, 且您同意理财平台的关联公司通过电子邮件、微信、理财平台系统信息、手机短信和传真等方式向您发送服务状态的通知、营销活动及其他商业性电子信息;</p>
                    <p>7.3.3 某些服务和/或产品和/或推广活动由理财平台的合作伙伴提供或由理财平台与合作伙伴共同提供, 理财平台会与其共享并使用;</p>
                    <p>7.3.4 在您违反本协议及其他协议时, 向您的交易对手, 理财平台合作的银行、担保机构、保险机构、理财平台的关联公司等第三方提供;</p>
                    <p>7.3.5 为建立信用体系, 向征信机构发送您的信息。您同意并授权理财平台将您的不良信息发送征信机构且不再另行通知您; </p>
                    <p>7.3.6 根据法律法规的规定及有权机关的要求。</p>
                    <p>您的信息保护</p>
                    <p>理财平台将根据法律法规规定对您的信息予以保密, 但下列情形除外：</p>
                    <p>7.4.1 法律、法规、规章及其他规范性文件另有规定;</p>
                    <p>7.4.2 本协议另有约定。</p>
                </div>
                <div class="pa-paragraph">
                    <p>八. 理财平台知识产权保护</p>
                    <p>8.1 理财平台的所有内容, 包括但不限于文本、数据、图片、音频、视频、源代码和其他所有信息, 均由理财平台享有知识产权。未经理财平台事先书面同意, 您或其他任何人不得复制、改编、传播、公布、展示或以任何其他方式侵犯理财平台的知识产权。</p>
                    <p>8.2 平台用户不得对理财平台或其内容进行转售或商业利用、衍生利用; 不得为其他商业利益而下载或拷贝账户信息或使用任何数据采集和摘录工具。未经理财平台书面许可, 严禁对理财平台的内容进行系统获取以直接或间接创建或编辑文集、汇编、数据库或人名地址录。</p>
                    <p>8.3 未经本公司明确书面同意, 平台用户不得以任何方式使用理财平台、本公司或其关联公司的字号、商标。</p>
                    <p>8.4 本公司保留对平台用户违反上述规定的行为追究法律责任的权利。</p>
                </div>
                <div class="pa-paragraph">
                    <p>九. 协议变更、解除、提前终止和权利义务的转让</p>
                    <p>协议变更与解除</p>
                    <p>理财平台有权随时单方面修改本协议中与您之间相关的权利义务, 并根据本协议约定的方式通知您, 若您不同意修改本协议, 则应当立即停止使用理财平台服务; 否则, 视为您同意并接受修改后的协议。修订后的协议一经通知, 立即生效。</p>
                    <p>协议终止</p>
                    <p>9.2.1 您在使用理财平台服务的过程中, 如果有下列情形发生, 理财平台有权单方面解除本协议：</p>
                    <p>1. 您的平台账户因任何原因注销的; </p>
                    <p>2. 冒用他人名义、盗用他人账户使用理财平台服务的; </p>
                    <p>3. 为非法目的使用理财平台服务的; </p>
                    <p>4. 从事任何可能侵害理财平台系统、资料之行为; </p>
                    <p>5. 违反任何法律法规、本协议约定的; </p>
                    <p>6. 监管机构认为理财平台提供的服务不再符合相关监管规定的; </p>
                    <p>9.2.2 除上述原因外, 理财平台有权根据风险及自身业务运营情况需要随时终止向您提供本服务, 因此导致您无法使用本服务或服务受到限制的, 不视为理财平台违约。</p>
                    <p>9.2.3 本协议终止后, 按如下方式进行处理：</p>
                    <p>9.2.3.1 如您正在发布投融资信息的, 理财平台将撤回您的信息;</p>
                    <p>9.2.3.2 如因9.2.1.6、9.2.2条导致本协议终止的, 理财平台继续履行本协议约定的相关义务直至全部履行完毕; </p>
                    <p>9.2.3.3 如因9.2.1.1、9.2.1.2、9.2.1.3、9.2.1.4、9.2.1.5条原因导致本协议终止的, 所导致的全部责任将由您自行承担。</p>
                    <p>协议权利义务的转让</p>
                    <p>未经理财平台书面同意, 您不得将本协议项下的权利和义务转让给任何第三方。理财平台有权将其在本协议项下的权利和义务全部或部分转让给第三方, 且转让行为无须征得您的同意, 但将书面或公告通知您该等转让行为。</p>
                </div>
                <div class="pa-paragraph">
                    <p>十. 争议的解决</p>
                    <p>本协议的订立、效力、解释、履行及争议的解决均适用中华人民共和国法律。在协议履行期间, 凡由本协议引起的或与本协议有关的一切争议、纠纷, 当事人应首先协商解决。协商不成, 各方一致同意提交上海市静安区人民法院通过诉讼方式解决。</p>
                </div>
                <div class="pa-paragraph">
                    <p>十一. 通知</p>
                    <p>本协议履行过程中, 理财平台向您发出的书面通知方式包括但不限于邮寄纸质通知、源码汇网站公告、电子邮件、源码汇系统信息、手机短信和传真等方式。如理财平台以邮寄方式向您发出书面通知的, 则在理财平台按照您在理财平台留存的通讯地址交邮后的第三个自然日即视为送达。如以源码汇网站公告、电子邮件、源码汇系统信息、手机短信和传真等电子方式发出书面通知的, 则在通知发送成功即视为送达。</p>
                </div>
                <div class="pa-paragraph">
                    <p>十二. 其他</p>
                    <p>12.1 在本协议中, 除非本协议上下文另有规定：</p>
                    <p>12.1.1 凡提及本协议应包括本协议及其附件, 以及对该协议所作的任何修改、修订或补充的文件;</p>
                    <p>12.1.2 凡提及条、款和附件仅指本协议的条、款和附件;</p>
                    <p>12.1.3 本协议条款的标题仅为查阅方便而设置, 不应构成对本协议的任何解释, 不对标题之下的内容及范围作任何限定。</p>
                    <p>12.2 本协议的附件及各项补充、修订或变更, 为本协议不可分割的组成部分, 与本协议正文具有同等法律效力</p>
                    <p>12.3 协议任一方通过网络页面点击确认与其他方式(包括但不限于签字或盖章确认等方式)接受本协议具有同等法律效力。</p>
                    <p>12.4 如本协议中的任何条款无论因何种原因完全或部分无效或不具有执行力, 则应认为该条款可与本协议相分割, 并可被尽可能接近各方意图的、能够保留本协议要求的经济目的的、有效的新条款所取代, 而且在此情况下, 本协议的其他条款仍然完全有效并具有约束力。</p>
                    <p>12.5 协议各方应按法律法规及相关规定各自承担与本协议相关的税费。</p>
                    <p>12.6 本协议未尽事宜, 由双方协商处理, 或者按国家有关法律、法规的规定执行。</p>
                </div>
            </section>
        </article>
    </article>
    <script src="../../js/user/reg-0e82d43ce8.js"></script>
</body>

</html>
