<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <title>修改登录密码</title>
    <link rel="stylesheet" href="../../css/base-56c273db45.css">
    <link rel="stylesheet" href="../../css/user/user-f83cc11d44.module.css">
</head>
<body>
    <article class="user-common-container" id="user-resetPsw-container">
        <header class="f-cb">
            <a href="javascript:history.go(-1)" class="f-fl">
                <img src="../../img/back.png" alt="" class="returnArrow">
            </a>
            <span>修改登录密码</span>
        </header>
        <section>
           <!-- <div class="form-input-box">
                <label class="form-label">账号</label>
                <input class="phoneNum" type="tel" placeholder="请输入手机号" v-model="mobile">
            </div>
            <div class="form-input-box">
                <label class="form-label">验证码</label>
                <input class="password" type="text" placeholder="请输入图形验证码" v-model="imgCodeText">
                <a href="javascript:;" class="imgCodeLink" v-on:click="getImgCode">
                    <img v-bind:src="imgData" src="" class="imgCode" alt="">
                </a>
            </div>-->
            <div class="form-input-label">
            	验证现有密码
            </div>
            <div class="form-input-box">
               <input class="phoneNum editPwd" type="password" placeholder="请输入现有密码" v-model="oldPwd">
            </div>
             <div class="form-input-label" style="margin-top: 2rem;">
            	设置新密码  （6-16位字母或数字）
            </div>
            <div class="form-input-box">
               <input class="phoneNum editPwd" type="password" placeholder="请输入新密码" v-model="newPwd">
            </div>
            <div class="form-input-box">
               <input class="phoneNum editPwd" type="password" placeholder="请再次输入新密码" v-model="newPwd2">
            </div>
            <div class="form-input-error"></div>
            <button class="loginBtn" v-on:click="confirmEdit">确认</button>
        </section>
        <div class="alertSucFloat">
        	<div class="alertSuc">
        	修改成功
        	</div>
        </div>

    </article>
    <script src="../../js/user/resetPsw-8067197241.js"></script>
</body>
</html>
