<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <base href="/h5/">
    <link rel="stylesheet" href="css/root-c89e6000b9.css">
    <link rel="stylesheet" href="css/base-2d86f7d6c5.css">
    <script src="scripts/common/jquery-2-96b6ea2cfc.0.3.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/product/product-16dfb131ab.module.css">

    <title>源码汇</title>
</head>
<body style="background: #f2f2f2;">
<article class="buy-currPro-container  greyBg" id="buy-currPro-container" v-cloak>
    <header class="f-cb">
        <a href="html/product/current_product/current_productDetails.html" class="f-fl">
            <img src="images/back.png" alt="" class="returnArrow">
        </a>
        <span>确认投资</span>
    </header>
    <p class="avail-amount-block">
        可用余额： <span class="avail_amount">{{availAmount}}</span>元
    </p>
    <section>
        <aside class="whiteBg">
        <div class="form-group">
            <label class="form-text">投资金额</label>
            <input class="form-input" type="number" placeholder="100元起投，且是100的整数倍" v-model="hqmoney">

        </div>
        <p class="horLine"></p>
        <div class="form-group">
            <label class="form-text">预期每日收益</label>
            <input class="form-input" type="text" v-model="day_earning"  readonly>
        </div>
            <p id="purchaseBtn4" style="display: none" class="inputErrorMsg">投资金额需为100的整数倍</p>
            <p id="purchaseBtn2" style="display: none" class="inputErrorMsg">余额不足，我要充值{{recharge}}元</p>
            <p id="purchaseBtn1" style="display: none" class="inputErrorMsg">标的金额不足</p>
        </aside>
        <div class="contract-read">
            <input type="checkbox" id="checkbox-1-1" checked="checked"/><label for="checkbox-1-1"></label>
            <!--<span>我阅读并同意<a href="http://www.51vest.com/pdt_contract_hq.html">《产品合同》</a></span>-->
            <span>我已阅读并同意<a href="html/contract/pdt_contract_hq.html">《产品合同》</a></span>
        </div>
        <button class="purchaseBtn" id="purchaseBtn"  @click="buyForward" v-show="btnDisplay" disabled>立即投资</button>
        <button class="rechargeBtn" v-show="!btnDisplay" @click="toRecharge">余额不足，我要充值</button>
        <!--<button class="purchaseBtn" id="purchaseBtn4" style="background:red;display:none">投资金额需为100的整数倍</button>-->
        <!--<button class="purchaseBtn" id="purchaseBtn3" style="background:silver;color:grey;display:none">立即投资</button>-->
        <!--<button class="purchaseBtn" id="purchaseBtn2" style="background:red;display:none" @click="toRecharge">余额不足，我要充值</button>-->
        <!--<button class="purchaseBtn" id="purchaseBtn1" style="background:red;display:none">标的金额不足</button>-->
    </section>
</article>
<script src="scripts/common/vue.js"></script>
<script src="scripts/common/vue-resource.min.js"></script>
<script src="scripts/common/custom-function-be5fd64f91.js"></script>
<script src="scripts/product/current_product/current_invest_money-13a68fd134.js"></script>
<script src="scripts/common/baiduScript-87719fbcdd.js"></script>

</body>
</html>