.page-top {
    padding: 0 27px;
    height: 88px;
    line-height: 88px;
    background-color: #fff;
    font-size: 26px;
    color: #333333;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.page-top span {
    display: inline-block;
    margin-left: 30px;
}
.dialogue-wrapper {
    margin-top: 88px;
}
.tip {
    padding-top: 36px;
    text-align: center;
    font-size: 26px;
    color: #5b5b5c;
}
.tip-time {
    text-align: center;
    font-size: 26px;
    color: #5b5b5c;
    margin-top: 15px;
    margin-bottom: 72px;
}
.dialogue-wrapper {
    padding: 0 28px;
}
.dialogue-content {
    margin-top: 22px;
}
.tr {
    text-align: right;
}
.tl {
    text-align: left;
}
.avatar {
    width: 116px;
    height: 116px;
    border-radius: 200px;
}
.dialogue-content .dialog {
    background-color: #fff;
    padding: 24px 20px;
    font-size: 26px;
    color: #5b5b5c;
    display: inline-block;
    vertical-align: top;
    position: relative;
    max-width: 50%;
    text-align: left;
    line-height: 40px;
    top: 30px;
    border-radius: 10px;
}