<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>源码汇</title>
  <link rel="stylesheet" href="../css/base-2d86f7d6c5.css">
  <link rel="stylesheet" href="../css/swiper-c779748a2c.min.css">
  <link rel="stylesheet" href="../css/activities/activities-a8e926a009.module.css">
</head>

<body>
  <article class="index-main-container greyBg" id="index-main-container" v-cloak>
    <div class="contentList" id="wrapper">
      <div class="scroller">
        <header class="f-cb">
          <div class="home-title">首页</div>
          <a href="./user/login.html?fromUrl=home" class="loginLink f-fl" v-show="!isLogin">登录</a>
        </header>

        <div class="swiper-container" id="swiper-container">
          <div class="swiper-wrapper banner1">
          </div>
          <div class="swiper-pagination"></div>
        </div>
        <!-- <div class="newman-wrapper" v-if="announcements.length > 0">
          <div class="swiper-container" id="swiper-container3">
            <div class="swiper-wrapper banner3">
            </div>
            <div class="swiper-pagination"></div>
          </div>
        </div> -->
        <div class="newman-wrapper" >
          <h2 class="prods-title">新手福利专享</h2>
          <div class="promotions-index">
            <span class="index">{{mySwiper2.activeIndex + 1}}</span>/{{promotions.length}}
          </div>
          <div class="swiper-container" id="swiper-container2">
            <div class="swiper-wrapper banner2">
            </div>
          </div>
        </div>
        <div class="activityBanner" v-if="activityBanner">
          <a :href="activityBanner.h5Url">
            <img :src="activityBanner.picSrc"/>
          </a>
        </div>
        <section class="otherPros" style="position: relative">
          <h2 class="prods-title">小额灵活系列</h2>
          <ul style="background-color: #f2f2f2;">
            <li v-for="product in products" :class="{other_pro_list: true, sold_out: product.state==500}">
              <a :href="'./product/fixed_product/fixed_product_details.html?productId=' + product.productId + '&state=' +product.state" class="fixed_target_info" v-if="product.state==400 || product.state==500 || product.state==300">
                <p class="target-name">{{ product.productName }}
                  <img :src="tag.tagIconUrl" v-for="tag in product.tagList" class="tagIcon"/>
                </p>
                <div class="fixed-target-list f-cb">
                  <div class="f-fl" style="width: 42%">
                    <p class="plan-rate-num">{{ formatRate(product.basicRate) }}<span class="percent">%</span><span class="addRate" v-if="product.activityRate">+{{ formatRate(product.activityRate) }}%</span>
                    </p>
                    <label style="font-size: 13px;color: #686C73; margin-top: 0;">预期年化收益率</label>
                  </div>
                  <!-- <div class="f-fl line"></div> -->
                  <div class="f-fl time">
                    <p class="invest-day">投资期限{{ product.investDays }}天</p>
                    <label>{{product.minInvestAmount}}元起投</label>
                  </div>
                </div>
                <!-- <div class="investButton" v-if="product.state==400"></div> -->
                <div class="waitingButton" v-if="product.state==300">
                  <img src="../img/new/img_sold.png" />
                  <p>{{ formatDate(product.onsaleTime) }}<br/>开抢</p>
                </div>
                <div class="doneButton" v-if="product.state==500" disabled="disabled"></div>
              </a>
            </li>
          </ul>
        </section>
      </div>
    </div>
    <div class="menu-tabs">
      <a class="tab active" href="#">
        <img src="../img/tabhost_icon_homepage_checked.png" class="tab-img selectimg">
        <img src="../img/tabhost_icon_homepage_default.png" class="tab-img">
        <div class="tab-name">理财</div>
      </a>
      <a class="tab" :href="isLogin ? './myCenter/asset_index.html' : './user/login.html?fromUrl=home'">
        <img src="../img/tabhost_icon_my_checked.png" class="tab-img selectimg">
        <img src="../img/tabhost_icon_my_default.png" class="tab-img">
        <div class="tab-name">资产</div>
      </a>
    </div>
  </article>
  <script src="../js/home-f0d32d2310.js"></script>
</body>

</html>
