<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>认证绑卡</title>
  <link rel="stylesheet" href="../../css/base-b0a112ffdd.css">
  <link rel="stylesheet" href="../../css/myCenter/myCenter-677ce0a9fe.module2.css">
</head>

<body style="background-color:#f7f7f7;">
  <article class="cardInfo-container" id="bind-card-container" v-cloak>
    <header class="f-cb">
      <a href="#" class="f-fl" @click="goBack">
            <img src="../../img/back.png" alt="" class="returnArrow">
        </a>
      <span class="title">认证绑卡</span>
    </header>
    <section>
      <div class="form-input-box">
        <label class="form-label">持卡人姓名</label>
        <input class="cardName" type="text" placeholder="请输入真实姓名" v-model="bindCardInfo.idHolder">
      </div>
      <div class="form-input-box">
        <label class="form-label">身份证号码</label>
        <input class="idNumber" type="text" placeholder="请输入身份证号码" v-model="idcard">
      </div>
      <div class="form-input-box">
        <label class="form-label">开户行</label>
        <a class="openBank" href="javascript:;" v-on:click="choseBank">
                <span>{{ bankName }}</span>
                <img class="arrowsRight" src="../../img/arrows_right.png" />
            </a>
      </div>
      <div class="form-input-box">
        <label class="form-label">储蓄卡号</label>
        <input class="bankNumber" type="text" placeholder="请输入储蓄卡号" v-model="bindCardInfo.bankAcctNo">
      </div>
      <div class="form-input-box">
        <label class="form-label">预留手机号</label>
        <input class="phoneNum" type="tel" maxlength="11" placeholder="请输入预留手机号" v-model="bindCardInfo.mobile">
        <button id="sendBtn" class="sendBtn" v-bind:class="{ 'sendBtn-default-Bg': bgStatus, 'sendBtn-disabled-Bg': !bgStatus}"  v-on:click="sendSms"  v-bind="{ disabled: disableAttr}" v-html="sendTxt" disabled="true"></button>
      </div>
      <div class="form-input-box">
        <label class="form-label">短信验证码</label>
        <input class="bankNumber" type="tel" placeholder="请输入短信验证码" v-model="bindCardInfo.smsValue">
      </div>
      <p class="errorMessage"></p>
      <button id="bindCard" class="bindCard" v-on:click="bindCard" style="background: #F66B12;">下一步</button>
      <div class="hint-msg">
        为了保障您的资金安全，持卡人必须和实名认证一致，充值提现必须同卡进出，若绑定成功，此卡将作为您唯一用于充值和提现的银行卡
      </div>
    </section>
  </article>
  <script src="../../js/myCenter/bindCard-8fab15cfcd.js"></script>
</body>

</html>
