<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="yes" name="apple-touch-fullscreen">
    <meta name="format-detection" content="telephone=no">
    <base href="/h5/">
    <link rel="stylesheet" href="css/root-c89e6000b9.css">
    <link rel="stylesheet" href="css/base-2d86f7d6c5.css">
    <script src="scripts/common/jquery-2-96b6ea2cfc.0.3.min.js"></script>
    <link rel="stylesheet" href="css/myCenter/myCenter-be8f04f760.module.css">
    <title>源码汇</title>
</head>
<body>
<article class="currentBao_container greyBg" id="currentBao_container" v-cloak>
    <div class="contentList" id="wrapper">
        <div class="scroller">
            <header class="f-cb">
                <a href="javascript:history.go(-1)" class="f-fl">
                    <img src="images/back.png" alt="" class="returnArrow">
                </a>
                <span>活期宝</span>
            </header>
            <section class="current_asset_top">
                <div class="asset_holder">
                    <p class="name">持有资产（元）</p>
                    <p class="value">{{accountNum}}</p>
                </div>
                <aside class="asset_benefit f-cb">
                    <div class="f-fl" style="width: 40%">
                        <p class="name">昨日收益（元）</p>
                        <p class="value">{{yestNum}}</p>
                    </div>
                    <div class="f-fl line"></div>
                    <div class="f-fl" style="width: 40%">
                        <p class="name">累计收益（元）</p>
                        <p class="value">{{sumNum}}</p>
                    </div>
                </aside>
            </section>
            <ul class="current_asset_list">
                <li class="each_currentBao" v-for="item in currentlist">
                    <div class="ec_caption">
                        <!--<img src="images/h_logo.png" alt="">-->
                        <img v-bind:src="item.targetIcon" alt="">
                        <span>{{item.targetName}}</span>
                    </div>
                    <div class="f-cb number">
                        <p class="f-fl">{{item.currentAmount}}</p>
                        <p class="f-fr">{{item.yearRate}}
                            <span v-if="item.appendRate!=0">+{{item.appendRate}}</span></p>
                    </div>
                    <div class="f-cb info">
                        <p class="f-fl">持有资产（元）</p>
                        <p class="f-fr">当前年化收益率(%)</p>
                    </div>
                    <p class="during">距离下次加息{{item.leftDays}}天</p>
                </li>
            </ul>
            <div id="pullUp">
                <span class="pullUpIcon"></span><span class="pullUpLabel">上拉加载更多...</span>
            </div>
            <div class="noMoreData">没有更多数据</div>
        </div>
    </div>
    <div class="f-cb buttons"><a href="javascript:;" class="f-fl inBtn" v-on:click="currentOut">转出</a></div>
</article>
<script src="scripts/common/vue.js"></script>
<script src="scripts/common/vue-resource.min.js"></script>
<script src="scripts/common/iscroll-1bcb6496d5.js"></script>
<script src="scripts/common/custom-function-be5fd64f91.js"></script>
<script src="scripts/myCenter/current_asset-28623c0e0c.js"></script>
<script src="scripts/common/baiduScript-87719fbcdd.js"></script>
</body>
</html>