<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
  <meta content="yes" name="apple-mobile-web-app-capable">
  <meta content="yes" name="apple-touch-fullscreen">
  <meta name="format-detection" content="telephone=no">
  <title>源码汇</title>
  <link rel="stylesheet" href="../../css/base-b0a112ffdd.css">
  <link rel="stylesheet" href="../../css/myCenter/myCenter-be8f04f760.module.css">
</head>

<body>
  <article class="recharge-money-container lightGreyBg" id="recharge-money-container" v-cloak>
    <header class="f-cb">
      <a href="asset_index.html" class="f-fl">
            <img src="../../img/back.png" alt="" class="returnArrow">
        </a>
      <!-- <span class="title">充值</span> -->
    </header>
    <section>
      <!-- <div style="background-color:#FFF;">
        <div class="form-box">
          <label class="form-label">身份信息</label>
          <span class="realInfo" style="text-indent: 8rem;">{{realName}}（{{idCard}}）</span>
        </div>
        <p class="p-divide" />
        <div class="form-box-bankInfo">
          <label class="form-label">银行卡</label>
          <div class="bankInfo" style="text-indent: 8rem;">
            <p class="p-bankInfo">{{bankName}}（尾号{{accNo}}）</p>
            <p class="p-astrict">{{tip}}</p>
          </div>
        </div>
      </div> -->
      <p class="availableBalance">可用余额: <span style="color: #1E2637;">{{accountBalance}}</span>元</p>
      <h2 class="title">充值金额</h2>
      <div class="form-box">
        <img id="invest-money-icon" src="../../img/new/img_money_show.png">
        <input class="rechargeMoney" type="number" placeholder="充值金额100元起" value="" v-model="amount" style="text-indent: 3.5rem;">
      </div>
      <button class="noPass" v-if="!isPass">下一步</button>
      <button id="rechargeBtn" class="btnRecharge" v-on:click="recharge" v-else>下一步</button>
    </section>

  </article>
  <script src="../../js/myCenter/recharge-6ee897dbff.js"></script>
</body>

</html>
