<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
	<meta content="yes" name="apple-mobile-web-app-capable">
	<meta content="yes" name="apple-touch-fullscreen">
	<meta name="format-detection" content="telephone=no">
	<title>源码汇</title>
	<link rel="stylesheet" href="../../css/base-56c273db45.css">
	<link rel="stylesheet" href="../../css/product/product-8eca9c89b0.module-shi.css">
</head>

<body>
	<article id="pay-fixedPro-container" v-cloak>
		<header class="f-cb">
			<a :href="'recharge.html?accountBalance=' + accountBalance" class="f-fl">
            <img src="../../img/back.png" alt="" class="returnArrow">
        </a>
			<!-- <span>{{ productName }}</span> -->
		</header>
		<div class="pay-fixedPro-container">
				<section class="pay-top" style="border-bottom: 1px solid #E1E5E8;margin-bottom: 1px;padding-bottom: 12px;">
					<div class="tips">充值金额 (元)</div>
					<div class="nums">{{ amount }}</div>
				</section>
				<section>
					<div class="pay-list-wrapper">
						<div class="pay-title">支付方式</div>
						<ul class="pay-types">
							<li v-for="(item,index) in payTypes" class="f-cb" v-if="item.type == 100" @click="selected = index">
								<img :src="item.pic" class="payimg" />

								<div v-if="item.flag" style="display: inline-block;">
									<div class="pay-detail">
										<div class="pay-name">{{ item.title }}</div>
										<div class="pay-desc">{{ item.desc }}</div>
									</div>
									<img class="select-icon" src="../../img/new/pay_method_rb_checked.png" v-if="index == selected" />
									<img class="select-icon" src="../../img/new/pay_method_rb_unchecked.png" v-else />
								</div>
								<div v-else style="display: inline-block;">
									<div class="pay-detail">
										<div class="pay-name" style="color: #B2B5B9;">{{ item.title }}</div>
										<div class="pay-desc" style="color: #B2B5B9;">{{ item.desc }}</div>
									</div>
								</div>
							</li>
						</ul>
						<div class="more-pay-wrapper">
							<div class="more-pay-text" @click="morePay = true" v-show="morePay == false">
								更多支付方式
							</div>
							<img class="icon" src="../../img/new/arrow_down_icon.png" v-show="morePay == false"/>
						</div>
					</div>
				</section>
		</div>
		<div class="overflow" v-show="overflowShowFlag">
			<div class="overflow-content">
				<img src="../../img/new/left_back_x_icon.png" class="close-btn" @click="overflowShowFlag = false"/>
				<div class="noPayword-wrapper" v-if="overflowConten == 'noPassword'">
					<div class="noPayword-title">
						设置交易密码
					</div>
					<div class="noPayword-content">
						第一次交易，请先设置交易密码
					</div>
					<div class="btns-wrapper">
						<a href="#" class="btn" @click="overflowShowFlag = false">取消</a>
						<a href="../../user/forgetPayWord.html" class="btn">去设置</a>
					</div>
				</div>
				<div class="password-wrapper" v-if="overflowConten == 'passwordInput'">
					<div class="title">
						请输入交易密码
					</div>
					<div class="password-form">
						<input class="password" type="password" v-model="password" maxlength="6">
						<img src="../../img/new/dashed.png" class="dashed" />
					</div>
					<div class="tips-wrapper">
						<span class="error" v-if="errorMsg">{{ errorMsg }}</span>
						<a href="../../user/authentication.html" class="tips">忘记密码?</a>
					</div>
				</div>
				<div class="sms-wrapper" v-if="overflowConten == 'sms'">
					<div class="sms-title">
						确认付款
					</div>
					<div class="sms-tip">
						本次交易需要短信确认，校验码已经发送至您手机
						<div class="mobile">
							{{ mobile }}
						</div>
					</div>
					<div class="form-input-box">
						<input class="msgCode" type="text" placeholder="请输入短信验证码" v-model="smsValue" />
		        <button id="sendBtn" class="sendBtn" v-bind:class="{ 'sendBtn-default-Bg': bgStatus, 'sendBtn-disabled-Bg': !bgStatus}"  v-bind="{ disabled: disableAttr}" v-html="sendTxt" disabled="true" @click="resend"></button>
					</div>
					<div class="sms-submit" @click="submitBindCard">确定</div>
					<div style="height: 2px;">	</div>
				</div>
			</div>
		</div>
		<section>
			<div class="purchaseBtn-wrapper">
				<div id="purchaseBtn" @click="putPayment">充值</div>
			</div>
		</section>
	</article>
	<script src="../../js/myCenter/rechargeCheck.js"></script>
</body>

</html>
